[buildout]
extends = https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
package-name = collective.depositbox

[instance]
eggs +=
    Products.PDBDebugMode
    Products.PrintingMailHost
    plone.reload
zcml +=
# Load the sample directory
    collective.depositbox.sample

[versions]
plone.reload = 2.0
Products.PrintingMailHost = 0.7
Products.PDBDebugMode = 1.3.1
