[buildout]
develop = .
versions = versions
parts = test checker coverage-test coverage-report


[versions]
distribute = 0.6.28
zc.buildout = 1.5.2


[test]
recipe = zc.recipe.testrunner
eggs = p01.form [test]


[checker]
recipe = lovely.recipe:importchecker
path = src/p01/form


[coverage-test]
recipe = zc.recipe.testrunner
eggs = p01.form [test]
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
