#content .tabSetup .commands a {
    margin: 0.2em 0.5em;
	border-bottom: none;
}

#content .tabSetup {
	border: 1px solid #e0e0e0;
	padding: 0.2em 0.2em 0.2em 0.5em;
	margin: 0.3em 0em;
}

#content .formPanel .even {
	background-color: #fafafa;
}

.tabTitle {
	font-size: 120%;
}

.tabSetup .field input[type="text"][size] {
	width: 95%;
}
