
BODY {
	margin: 0px;
	padding: 0px;
	font-size: 0.9em;
	line-height: 1.3em;
	background-color: white;
}

BODY,
A:visited {
	font-family: sans-serif;
	color: #444;
}

A {
	text-decoration: none;
	color: #078800;
}

A IMG {
	border: 0px;
}

A:hover {
	text-decoration: underline;
}

H1,
SPAN.h1 {
	display: block;
	margin: 1em 0px 0.8em;
	font-size: 200%;
	font-weight: bold;
}

H2,
SPAN.h2 {
	display: block;
	margin: 0.9em 0px 0.6em;
	font-size: 180%;
	font-weight: bold;
}

H3,
SPAN.h3 {
	display: block;
	margin: 0.8em 0px 0.5em;
	font-size: 160%;
	font-weight: bold;
}

H4,
SPAN.h4 {
	display: block;
	margin: 0.7em 0px 0.4em;
	font-size: 140%;
	font-weight: bold;
}

H5,
SPAN.h5 {
	display: block;
	margin: 0.6em 0px 0.3em;
	font-size: 125%;
	font-weight: bold;
}

H6,
SPAN.h6 {
	display: block;
	margin: 0.5em 0px 0.2em;
	font-size: 110%;
	font-weight: bold;
}

P {
	margin: 0.25em 0px 0.5em;
	padding: 0px;
}

UL {
	margin: 0.25em 0px 0.5em;
	list-style-type: none;
	padding-left: 10px;
}

#body LI {
	padding-left: 20px;
	background: transparent url(/--static--/ztfy.blog.defaultskin/img/li.png) scroll no-repeat 5px 0.5em;
}

#disqus_thread LI {
	background: none !important;
}

/**
 * Common styles
 */

.hidden {
	display: none;
}

.toleft {
	float: left;
	margin-right: 10px;
}

.toright {
	float: right;
	margin-left: 10px;
}

.centered {
	text-align: center;
	clear: both;
}

.nofloat {
	float: none !important;
	margin: 0px !important;
	width: 100% !important;
}

DIV.clearer {
	clear: both;
	height: 0px !important;
	font-size: 0px;
}

DIV.warning {
	padding: 10px 0px;
	font-size: 120%;
	font-weight: bold;
}

IMG.illustration {
	padding: 3px 2px 2px 3px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #EEE;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 5px 5px 5px #BBB;
	-moz-box-shadow: 5px 5px 5px #BBB;
	-webkit-box-shadow: 5px 5px 5px #BBB;
}

/**
 * Header classes
 */

#header {
	margin: 0px;
	padding: 0px;
	background-color: white;
}

#header DIV.prefix {
	padding-left: 20px;
	min-height: 8px;
	background-color: #8CEC00;
}

#header DIV.langs {
	float: right;
	padding: 5px;
}

#header DIV.langs LI {
	display: inline;
	list-style-type: none;
	padding: 0px 3px;
}

#header DIV.sections {
}

#header DIV.sections UL {
	list-style-type: none;
	margin: 0px;
	border-top: 1px solid silver;
	padding-left: 20px;
}

#header DIV.sections LI {
	float: left;
	margin-top: -1px;
	margin-right: -1px;
	padding: 7px 20px;
	border: 1px solid silver;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	background-color: #BEF56E;
	font-size: 110%;
}

#header DIV.sections LI.login {
	float: right;
	margin-right: 30px;
}

#header DIV.sections LI.selected {
	background-color: #8CEC00;
	border-top: 0px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	padding: 9px 20px;
	font-weight: bold;
}

#header LI.login INPUT[type=image] {
	vertical-align: bottom;
}

#header LI.login SPAN.inputs {
	display: none;
}

#header DIV.sections LI.management {
	float: right;
	background-color: #FFFF99;
}

#header DIV.crumbs {
	padding-left: 20px;
	font-size: 80%;
	margin: 5px auto;
	padding: 0px;
	padding-left: 20px;
	background-color: white;
	border: none;
}

#header DIV.crumbs A {
	color: #444;
}

#left_column {
	float: left;
}

#right_column {
	float: right;
	max-width: 10%;
}

#body {
	margin: 0px 20px;
}

#body UL.sub_sections {
	padding: 3px;
	border: 1px solid silver;
	background-color: #BEF56E;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#body UL.sub_sections2 {
	padding: 2px 3px;
	border: 1px solid silver;
	background-color: None;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#body UL.sub_sections LI,
#body UL.sub_sections2 LI {
	display: inline-block;
	list-style-type: none;
	background-image: none;
	padding: 2px 10px;
}

#body UL.sub_sections LI:hover,
#body UL.sub_sections LI.selected,
#body UL.sub_sections LI.selected:hover,
#body UL.sub_sections2 LI:hover,
#body UL.sub_sections2 LI.selected,
#body UL.sub_sections2 LI.selected:hover {
	background-color: #8CEC00;
	font-weight: bold;
	border: 1px solid white;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#body UL.sub_sections LI:hover,
#body UL.sub_sections2 LI:hover {
	border: None;
	font-weight: normal;
}

#body UL.sub_sections2 LI.selected,
#body UL.sub_sections2 LI.selected:hover {
	border: None;
	font-weight: normal;
}

#body DIV.heading {
	float: left;
	width: 37%;
	padding: 5px;
	border: 1px solid #8CEC00;
	box-shadow: 5px 5px 5px #D4F3A9;
	-moz-box-shadow: 5px 5px 5px #D4F3A9;
	-webkit-box-shadow: 5px 5px 5px #DED;
}

#body DIV.heading.nofloat {
	width: 99% !important;
}

#body DIV.fblike,
#body DIV.plusone {
	float: right;
	position: relative;
	top: -5px;
}

#body UL.sub_sections + DIV.fblike,
#body UL.sub_sections + DIV.plusone,
#body UL.sub_sections + DIV.fblike + DIV.plusone {
	margin-top: 1em;
}

#body DIV.topics {
	float: right;
	width: 60%;
}

#body DIV.topics DIV.topic H2 {
	padding-left: 20px;
	background: transparent url(/--static--/ztfy.blog.defaultskin/img/li-big.png) scroll no-repeat 5px 0.2em;
	line-height: 1em;
}

#body DIV.topics DIV.pages {
	text-align: center;
	margin-top: 10px;
}

#body DIV.topics DIV.pages A {
	display: inline-block;
	min-width: 30px;
	padding: 2px 4px;
	border: 2px solid #BEF56E;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#body DIV.topics DIV.pages A.current {
	background-color: #BEF56E;
}

#body DIV.topic DIV.publication {
	margin-top: 0px;
	padding: 2px 10px;
	background-color: #BEF56E;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#body DIV.topic DIV.footer {
	margin-bottom: 20px;
}

#body DIV.topic DIV.tags {
	float: right;
	text-align: right;
	padding-top: 1px;
	padding-right: 10px;
}

#body DIV.topic SPAN.tag {
	display: inline-block;
	padding-left: 20px;
	margin-top: 1px;
	min-height: 16px;
	background: transparent url(/--static--/ztfy.blog.defaultskin/img/tag.png) scroll no-repeat 3px 50%;
}

#body DIV.topic P.heading {
	font-weight: bold;
}

#body DIV.topic DIV.resources H3,
#body DIV.topic DIV.links H3 {
	padding: 2px 4px;
	font-size: 110%;
	background-color: #BEF56E;
	border: 1px solid #BEF56E;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#body DIV.topic DIV.resources LI.resource A,
#body DIV.topic DIV.links LI.link A {
	color: #078800 !important;
}

#body IFRAME.code {
	border: None;
	width: 100%;
}

#body DIV.comments H3 {
	padding: 2px 4px;
	font-size: 110%;
	background-color: #E7FB71;
	border: 1px solid #E7FB71;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#body DIV.comments DIV.dsq-missing-permissions {
	margin-top: 2px;
	border: 2px solid #8CEC00;
	background-color: #CFF695;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#body DIV.comments DIV.dsq-missing-permissions A {
	color: #078800;
}

#body DIV.ads {
	text-align: center;
}

#body DIV.ads IFRAME {
	margin: 10px;
}

#content {
	margin: auto;
	padding: 0px;
}

#footer {
	background-color: #BEF56E;
	margin-top: 20px;
	border-top: 1px solid silver;
	padding: 5px;
}

#footer DIV {
	text-align: center;
}

/** JQuery tools tabs */
#tabforms UL.tabs {
	margin:5px 0px 0px !important;
	padding: 0px;
	height:25px;
	border-bottom:1px solid #768eb4;
}

#tabforms UL.tabs LI {
	float:left;
	padding:0;
	margin:0;
	list-style-type:none;
}

#tabforms UL.tabs A {
	float:left;
	font-size:105%;
	display:block;
	padding:5px 15px 0px;
	text-decoration:none;
	border:1px solid #768eb4;
	border-bottom:0px;
	height:18px;
	background-color:#efefef;
	color:#777;
	margin-right:2px;
	position:relative;
	top:1px;
	outline:0;
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius:4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
}

#tabforms UL.tabs LI.error A {
	color: red !important;
	border:1px solid red !important;
}

#tabforms UL.tabs A:hover {
	background-color:#F7F7F7;
	color:#333;
	cursor: pointer;
}

#tabforms UL.tabs A.current {
	background-color:#ddd;
	border-bottom:1px solid #ddd;
	color:#768eb4;
	font-weight: bold;
	cursor:default;
}

#tabforms DIV.panes DIV.pane {
	display:none;
	border:1px solid #768eb4;
	border-width:0 1px 1px 1px;
	padding:3px;
	background-color:#ddd;
}

#tabforms DIV.panes DIV.pane > FIELDSET {
	margin: 0px;
	border: 0px;
}

/** Forms */
INPUT,
SELECT {
	font-size: 1.0em;
}

DIV.row DIV.label {
	color: #768eb4;
	font-weight: bold;
	padding-left: 3px;
	border-left: 4px solid #768eb4;
	border-bottom: 1px solid #768eb4;
	margin: 5px 0px 0px;
}

DIV.input SPAN.required {
	font-weight: bold;
	color: red;
}

A.hint {
	cursor: help;
	float: right;
	color: #000;
	background-color: #ffffbf;
	font-weight: bold;
	margin-left: 12px;
	padding: 0px 2px;
	text-decoration: none;
}

A.hint:hover {
	background-color: #ff0000;
	color: #fff;
}

DIV.dialog DIV.form {
	padding: 0px 5px 5px;
}

DIV.form FIELDSET {
	margin: 5px 0px 0px;
	padding: 6px;
	border: 1px solid #b1b7c1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

DIV.form LEGEND {
	padding: 2px 5px;
	color: #e7ecf6;
	background-color: #768eb4;
	border: 1px solid #768eb4;
	font-size: 115%;
	font-weight: bold;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

DIV.required-info {
	padding: 2px 5px;
	color: #b1b7c1;
	background-color: #edf0f6;
	border: 1px solid silver;
	margin-bottom: 5px;
	font-style: italic;
}

DIV.help {
	padding: 2px 5px;
	background-color: infobackground;
	border: 1px solid silver;
	color: infotext;
	margin-bottom: 5px;
}

DIV.status {
	margin: 0px 0px 5px;
	padding: 2px 5px;
	background-color: #f8f8ff;
	color: red;
	border: 1px solid red;
}

DIV.status DIV.summary {
	font-weight: bold;
}

DIV.status UL.errors {
	margin: 0.3em 0px;
}

DIV.status UL.errors LI {
	list-style-position: inside;
}

UL.errors DIV.error {
	display: inline;
}

DIV.row DIV.error DIV.error {
	border: none;
	float: right;
	padding-right: 2px;
	color: red;
}

DIV.buttons {
	text-align: right;
	padding: 15px 15% 5px;
}

DIV.buttons INPUT {
	cursor: pointer;
}

INPUT.text-widget,
TEXTAREA {
	width: 96%;
	margin-top: 0px;
	margin-left: 3px;
}

INPUT.submit-widget,
INPUT.button-widget {
	color: #e7ecf6;
	border: 2px solid #768eb4;
	background-color: #768eb4;
	padding: 2px 10px;
	font-size: 110%;
	font-weight: bold;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

INPUT.submit-widget:hover,
INPUT.button-widget:hover {
	color: #768eb4;
	background-color: #e7ecf6;
}

DIV.panes INPUT[type="button"] {
	color: #768eb4;
	border: 1px solid #768eb4;
	background-color: #e7ecf6;
	padding: 2px 6px;
	font-size: 100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

DIV.panes INPUT[type="button"]:hover {
	color: #e7ecf6;
	background-color: #768eb4;
}

/** Dialogs */
DIV.dialog {
	font-family: "Switzera ADF Cd", "DejaVu Sans", "Lucida Sans", Verdana, Arial, sans-serif;
	background-color: white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

DIV.dialog H1,
DIV.dialog SPAN.h1 {
	font-size: 150%;
	margin-bottom: 15px;
	padding: 3px 6px;
	border-top: 4px solid #b1b7c1;
	border-bottom: 4px solid #b1b7c1;
}

DIV.dialog DIV.form FIELDSET {
	margin: 5px 0px 0px;
	padding: 6px;
	border: 1px solid #b1b7c1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

DIV.dialog DIV.form FIELDSET FIELDSET {
	border-width: 1px;
}

DIV.dialog DIV.form FIELDSET FIELDSET LEGEND {
	font-weight: normal !important;
}

DIV.dialog SELECT,
DIV.dialog TEXTAREA,
DIV.dialog INPUT[type="text"],
DIV.dialog INPUT[type="password"] {
	margin-left: 3px;
	border: 1px solid silver;
	padding: 3px;
	background-color: #f0ebe1;
}

DIV.dialog TEXTAREA,
DIV.dialog INPUT[type="text"],
DIV.dialog INPUT[type="password"] {
	border: 1px solid #dbd4c8;
	border-top: 0px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

DIV.dialog INPUT[type="file"] {
	width: 96%;
	border: 1px solid #dbd4c8;
	background-color: #f0ebe1;
	padding: 2px 4px;
}

DIV.dialog DIV.row DIV.error DIV.widget TEXTAREA,
DIV.dialog DIV.row DIV.error DIV.widget INPUT[type="text"],
DIV.dialog DIV.row DIV.error DIV.widget INPUT[type="password"] {
	border-width: 2px;
	border-color: red;
	padding-left: 4px;
}

/** Overlay */
DIV.loader {
	text-align: center;
}

#mask {
	opacity: 0.6;
}

#osx-container {
	background-color: #eee;
	color: #000;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size: .9em;
	padding-bottom: 4px;
	width: 820px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-box-shadow: 0 0 64px #000;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-box-shadow: 0 0 64px #000;
}

#osx-modal-title {
	color: #000;
	background-color: #ddd;
	border-bottom: 1px solid #ccc;
	padding: 6px 8px;
	font-size: 130% !important;
	font-weight: bold;
	text-shadow: 0 1px 0 #f4f4f4;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

DIV.overlay {
	display: none;
	background-color: silver;
	width: 820px;
	border: 2px solid #666;
	border: 2px solid rgba(98, 122, 160, 0.698);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 5px 5px 35px #000;
	-moz-box-shadow: 5px 5px 35px #000;
	-webkit-box-shadow: 5px 5px 35px #000;
}

DIV.overlay DIV.form DIV.widgets {
	max-height: 450px;
	*max-height: none;
	overflow: auto;
	*overflow: auto;
}
