; vim: set fileencoding=utf-8 :
; Pedro Tome <pedro.tome@idiap.ch>
; Tue 25 Mar 15:29:18 2014 CEST

[buildout]
parts = scripts
develop = .
eggs = bob>=1.2.0
       ipdb
       facereclib
       gridtk
       xbob.db.utfvp
       xbob.db.vera
       xbob.fingervein
newest = false

;Use the sources from my home directory
extensions = mr.developer
auto-checkout = *

; Look at this directory to find bob
prefixes = [YOUR_BOB/BUILD_DIRECTORY]

sources-dir = [YOUR_SOURCES_DIRECTORY]
[sources]
xbob.db.utfvp = fs xbob.db.utfvp
xbob.db.vera = fs xbob.db.vera

[scripts]
recipe = xbob.buildout:scripts
dependent-scripts = true
nose-flags = -v
