; vim: set fileencoding=utf-8 :
; Pedro Tome <pedro.tome@idiap.ch>
; Mon Jul 7 12:38:08 CET 2014

; This is the configuration file for buildout.

[buildout]
parts = scripts
newest = false
develop = .

; required packages: The facereclib, our package, the two database interfaces
eggs =  bob>=1.2.0
        ipdb
	gridtk
        facereclib>=1.2.1
        xbob.db.vera>=1.0.0
	antispoofing.evaluation
	xbob.fingervein
	xbob.paper.BIOSIG2014

;Use the sources from my home directory
extensions = mr.developer
auto-checkout = *

; Look at this directory to find bob
prefixes = /idiap/home/ptome/work/bob/build/

sources-dir = /idiap/user/ptome/
[sources]
xbob.db.vera = fs xbob.db.vera
xbob.fingervein = fs xbob.fingervein
antispoofing.evaluation = fs antispoofing.evaluation

; the recipe to generate the scripts in the ./bin directory
[scripts]
recipe = xbob.buildout:scripts
dependent-scripts = true
nose-flags = -v
