/*****************************************************************************/
/* This file based on https://github.com/arthurk/pyll
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
}

p, ul, ol {
  margin: 1em 0;
}

a {
  color: #00a;
    text-decoration: none
}

a:visited { 
    color: blue; 
    text-decoration: none
} 

a:hover {
    color: blue;
    background: #bbb;
}


table {
  font-size: inherit;
  font: 100%;
}

.centered img {
    display: block;
    margin: 0 auto;
}

blockquote:before {
    color: #BBBBBB;
    content: "“";
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -0.4em;
}

blockquote:after {
    color: #BBBBBB;
    content: "”";
    font-size: 3em;
    line-height: 0.1em;
    vertical-align: -0.45em;
}

blockquote {
    background: none repeat scroll 0 0 #F7F7F7;
    border-left: 1px solid #BBBBBB;
    font-style: italic;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote, figure {
    display: block;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

#content .span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }


.site {
  font-size: 110%;
  text-align: justify;
  width: 50em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 2px solid #ccc;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/* Menu */

#navigation {
    width: 100%;
    border: 1px solid #bbb;
    background: #e0e0e0;
    float: left;
    margin-bottom:20px;
}

.menu {
    color:8e8e8e;
}

.menu ul {
    list-style: none;
    margin:0;
    padding:0;
}

.menu li{
    float:left;
}

.menu li a{
    display:block;
    font-weight: none;
    line-height: 20px;
    margin-top: 0;
    padding: 10px 15px;
    text-align:center;
    text-decoration:none;
}

.menu li a:hover{
    color:#000000;
    text-decoration:none;
}

.menu li ul {
    background:#e0e0e0;
    border-left:1px solid #ccc;
    border-right:2px solid #bbb;
    border-bottom:2px solid #bbb;
    display:none;
    height:auto;
    filter:alpha(opacity=90);
    opacity:0.90;
    position:absolute;
    width:250px;
    z-index:200;
}

.menu li:hover ul {
    display:block;
}

.menu li li {
    display:block;
    float:none;
    width:250px;
}

.menu li ul a{
    display:block;
    padding:10px;
    text-align:left;
}

.menu li ul a:hover{
    background:#949494;
    color:#000000;
    opacity:1.0;
    filter:alpha(opacity=100);
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 1em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

  li span {
    color: #000;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }


a.toc-backref {
  color: #000;
  text-decoration: none
}

a.toc-backref:visited { 
    color: #000; 
    text-decoration: none
} 

p.topic-title {
    padding: 1em 0 0 1em;
}

/* directiva content */

#content {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#content ul, #content ul ul {
  list-style-type: none;
  margin-bottom: 1em;
}

#content li {
    line-height: 1.75em;
}

#content dt {
    font-weight:bold;
    line-height: 1.75em;
}

#content dd {
    padding-left: 2em;
}

table {
    border-spacing: 10px;
}

td {

    padding: 15px;
    vertical-align: top;
    background-color: #f5f5f5;
    border:1px solid #bbb;
}

.tabla-enmiendas table {
    border-spacing: 5px;
    margin-bottom: 1em;
}

.tabla-enmiendas td {
    padding: 0px;
}

tbody tr:nth-child(odd) {
   background-color: #ccc;
}