/*
* Styles communs pour le thème de Sveetchies
* Créé par David THENON en Février 2012
*/
hr,
.cale{
    margin:0;
    padding:0;
    visibility:hidden;
    width:0px;
    height:0.05px;
    font-size:0;
    clear:both;
}
/* Liste à puces mises à "plat" pour en faire un menu horizontal */
.flat_bulletlist{
    margin:0;
    padding:0;
}
.flat_bulletlist li{
    margin:.3em;
    padding:0;
    float:left;
    list-style-type:none;
}
.flat_bulletlist li a{
    display:block;
    margin:0;
    padding:.5em;
}

/* Menu d'actions contextuels à la page/document */
.document_action_menu{
    float:right;
}
.document_action_menu li{
    padding:0;
    font-size:0.7em;
    border-bottom:1px solid #aaaaaa;
    border-right:1px solid #aaaaaa;
    border-radius: 5px 5px 5px 5px;
}
.document_action_menu li a{
    text-transform:uppercase;
    text-decoration:none;
    border:1px solid #c0c0c0;
    border-radius: 5px 5px 5px 5px;
    background-color:#ffffff;
}

/* Ajustements sur les formulaires */
#body_content .uniForm fieldset {
    border-radius: 3px 3px 3px 3px;
    background-image:url('../images/brushed_alu.png');
    -moz-box-shadow: 3px 3px 5px #888888;
    -webkit-box-shadow: 3px 3px 5px #888888;
    box-shadow:2px 2px 4px #888888;
    display:block;
}
#body_content .uniForm fieldset legend {
    margin-top:-1.15em;
    font-size: 1.40em;
    position:absolute;
    color:#1d7567;
    text-shadow:#4dB5A7 1px 1px 1px;
}

/* Ajustements sur CodeMirror */
.SuperCodeMirror,
.pygmentstable,
.pygments{
    text-shadow:none;
}

/* Ajustements sur l'interface admin de documents */
.module{
    text-shadow:none;
}
.module.changelist{
    -moz-box-shadow: 3px 3px 5px #888888;
    -webkit-box-shadow: 3px 3px 5px #888888;
    box-shadow:2px 2px 4px #888888;
}
ul.list-tree .container{
    background-image:url('../../theme/images/brushed_alu.png');
    border-radius: 4px 4px 4px 4px;
}
ul.list-tree li .container:hover,
ul.list-tree li .container.hover_highlight{
    background-image:none;
}
ul.list-tree .menu{
    border-radius: 0 4px 4px 0;
}

/* Ajustements pour les contenus ReST */
.restructuredtext_container .attention,
.restructuredtext_container .caution,
.restructuredtext_container .danger,
.restructuredtext_container .error,
.restructuredtext_container .hint,
.restructuredtext_container .important,
.restructuredtext_container .note,
.restructuredtext_container .tip,
.restructuredtext_container .warning{
    border-radius: 5px 5px 5px 5px;
}
.restructuredtext_container .topic{
    border: 1px solid #cdd9f7 !important;
    background-color: #ffffff !important;
    border-radius: 5px 5px 5px 5px;
}
