/*
* Thème CSS du site Sveetchies
* Créé par David THENON en Février 2012
*/
body {
    margin: 0;
    padding:0;
/*     text-shadow:#B0B0B0 1px 1px 1px; */
    background-image:url('../images/random_grey_variations.png');
    background-position:top left;
}

/* Entête */
#header{
    margin:0;
    padding:1em 0 1em 0;
    background-position:bottom left;
    background-image:url('../images/px_by_Gre3g.png');
}
h1{
    margin: 0;
    padding:0 .5em 0 .5em;
    width:10em;
    color:#ff811a;
    font-style:italic;
    float:left;
    text-shadow:#df610a 1px 1px 2px;
}
#header h1 a{
    color:#ff811a;
    text-decoration:none;
}

/* Menu principal */
#menu{
    margin:1.1em 0 .20em 0;
    padding:0;
    font-size:1.1em;
    font-weight:bold;
    line-height:1.1em;
    color:#ffffff;
    float:left;
}
#menu ul{
    margin:0;
    padding:0;
}
#menu li{
    margin:0 .3em 0 .3em;
    padding:0;
}
#menu a{
    display:block;
    padding:0 .5em .3em .5em;
    text-decoration:none;
    color:#ffffff;
}
#menu a:hover{
    color:#0072ff;
}
#menu li.active a{
    font-weight:bold;
    color:#ff811a;
}

/* Chemin d'accès */
#breadcrumbs{
    margin: 0.5em 0 0 0;
    padding: 0 1em 1em 20px;
    font-size:0.7em;
    color:#303030;
    background-image:url('../images/sitemap.png');
    background-position:left middle;
    background-repeat:no-repeat;
}
#breadcrumbs a{
    color:#303030;
}

/* Menu d'administrations */
#admins_menu{
    margin-top:0;
    position:absolute;
    top:0;
    right:3em;
    font-size:0.8em;
    text-shadow:none;
}
#admins_menu li{
    margin-top:0;
    border:1px solid #000000;
    border-top:0;
    border-radius: 0 0 4px 4px;
}
#admins_menu li a{
    padding:.2em .7em .2em .7em;
    margin-top:0;
    display:block;
    color:#ffffff;
    background-color:#303030;
    border:2px solid #ffffff;
    border-top:0;
    text-transform:uppercase;
    text-decoration:none;
    border-radius: 0 0 4px 4px;
}
#admins_menu li a:hover{
    padding:.5em .7em .5em .7em;
    color:#0072ff;
}
#admins_menu li.active a{
    padding:.5em .7em .5em .7em;
    color:#ff0000;
}

/* Corps du contenu */
#root{
    background-image:url('../images/bright_squares.png');
}
#top-layer-hack{
    width:100%;
    height:6px;
    background-image:url('../images/px_by_Gre3g_border_bottom.png');
    background-position:bottom left;
    background-repeat:repeat-x;
    position:absolute;
}
#bottom-layer-hack{
    width:100%;
    height:6px;
    background-image:url('../images/random_grey_variations_border_top.png');
    background-position:bottom left;
    background-repeat:repeat-x;
    top:-6px;
    position:relative;
}
#body_content{
    margin:0;
    padding:.7em 1% 2em 1%;
    font-size:1.2em;
}
.columned.cols-by-two #body_content{
    float:left;
    width:79%;
}

/* Jolie colorisation des titres */
h2{
    margin:.5em 0 .5em 0;
    padding:0;
    font-weight:bold;
    color:#ffb31a;
    text-shadow:#df930a 1px 1px 2px;
}
h2 a, h2 a:link, h2 a:hover, h2 a:visited{
    color:#ffb31a;
}
h2.root_page{
    display:none;
}
h3, .restructuredtext_container h3 a{
    color:#87AD0C;
    text-shadow:#87AD0C 1px 1px 1px;
}
h4, .restructuredtext_container h4 a{
    color:#1d7567;
    text-shadow:#1d7567 1px 1px 1px;
}
h5, .restructuredtext_container h5 a{
    color:#1d7567;
}

/* Menu contextuel d'une page */
#menu_content{
    text-shadow:none;
}
#menu_content h2{
    display:block;
    margin:.5em 0 .5em 0;
    padding:0;
    font-weight:bold;
    font-size:1.2em;
    color:#703B12;
    text-shadow:#B0B0B0 1px 1px 1px;
}
.columned.cols-by-two #menu_content{
    margin:0;
    padding:0;
    float:right;
    width:19%;
    font-size:1.1em;
    background-image:url('../images/px_by_Gre3g.png');
    background-position:top left;
    background-repeat:repeat;
}
#menu_content .sub-layer{
    margin:0 0 0 3px;
    padding: 1em 1em .5em 1.5em;
    background-color:#ffffff;
}
#menu_content ul{
    margin:0 .5em 0 .5em;
    padding:0 0 0 1em;
}
#menu_content li{
    list-style-type:square;
    color:#501B02;
}
#menu_content a{
    color:#703B12;
    text-decoration:none;
}
#menu_content a:hover{
    color:#ff811a;
}

/* Pied de page */
#footer{
    margin:0;
    padding:2em 1em 2em 1em;
    color:#ffffff;
    text-shadow:#c0c0c0 0 0 1px;
    font-weight:bold;
    text-align:center;
}

/* Ajustement sur le django-debug-toolbar */
#djDebug{
    text-shadow:none;
}