.easyslider {
  position:relative;
}

.easyslider ul, .easyslider li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.easyslider li {
  overflow: hidden;
}

.easyslider .prevBtn,
.easyslider .nextBtn {
  display: block;
  width: 45px;
  height: 100%;
  position: absolute;
  left: -45px;
  top: 0;
  z-index: 1;
}

.easyslider .nextBtn {
  left: auto;
  right:-45px;
}

.easyslider .prevBtn a,
.easyslider .nextBtn a {
  display: block;
  height: 100%;
  text-indent:-9999px;
  border-bottom:none !important;
  background: url("++resource++easyslider-prev.gif") no-repeat left center;
}

.easyslider .nextBtn a {
  background: url("++resource++easyslider-next.gif") no-repeat right center;
}

.vertical .prevBtn,
.vertical .nextBtn {
  height:45px;
  width:100%;
  left:0;
  top:-45px;
}

.vertical .nextBtn {
  top:auto;
  bottom:-45px;
}

.vertical .prevBtn a {
  background: url("++resource++easyslider-vertical-prev.gif") no-repeat center top;
}

.vertical .nextBtn a {
  background: url("++resource++easyslider-vertical-next.gif") no-repeat center bottom;
}

/* numeric controls */
#visual-portal-wrapper .easyslider ol.controls {
  margin: 10px 0 0 0;
  padding: 5px 0 0 0;
  height: 28px;
  border-top:1px solid #ccc;
}

#visual-portal-wrapper .easyslider ol.controls li {
  margin: 0 10px 0 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 28px;
  line-height: 28px;
}


#visual-portal-wrapper .easyslider ol.controls li a {
  float:left;
  height:28px;
  line-height:28px;
  background-color:#DDDDDD;
  color:#75AD0A !important;
  padding:0 10px;
  margin-right:0.5em;
  text-decoration:none;
  font-weight:bold;
  border-radius:14px;
  -moz-border-radius:14px;
  -webkit-border-radius:14px;
}

#visual-portal-wrapper .easyslider ol.controls li a:hover {
  color:#75AD0A !important;
}

#visual-portal-wrapper .easyslider ol.controls li.current a {
  background-color:#75AD0A;
  color:#fff !important;
}

#visual-portal-wrapper .easyslider ol.controls li.current a:hover {
  color:#fff !important;
}

#visual-portal-wrapper .easyslider ol.controls li a:focus,
#visual-portal-wrapper .easyslider .prevBtn a:focus,
#visual-portal-wrapper .easyslider .nextBtn a:focus {
  outline: none;
}
