I               {color: #000000}
#John        {color: #000099}
#Graham   {color: #AA00AA}
#Michael   {color: #DD0000}
#Eric         {color: #006600}
#TerryJ      {color: #660000}
#TerryG     {color: #006677}
#Carol       {color: #FF00AA}

#C1         {font-weight: bold; font-size: 175%; color: #008800; }
#C2         {font-weight: bold; font-size: 100%; color: #AA0000; }
