.testimonials {
    font-size: 0;
    margin-top: 130px;

    .top-testimonial {
        .logo {
            margin: 45px auto 24px;
            display: block;

            &.properati {
                @include common-sprite(properatti, $dimensions: true);
            }
        }

        .quote {
            position: relative;
            font-size: 22px;
            line-height: 28px;
            font-style: italic;
            color: #333;

            margin: 0 auto;

            &:before {
                content: '';
                position: absolute;
                top: -9px;
                left: -48px;
                z-index: -1;
                @include common-sprite(quote-left, $dimensions: true);
            }

            &:after{
                content: '';
                position: absolute;
                bottom: -9px;
                right: -50px;
                z-index: -1;
                @include common-sprite(quote-right, $dimensions: true);
            }
        }

        .author {
            margin-top: 24px;
            font-size: 14px;
            color: #333;
        }
    }

    .testimonial {
        .logo {
            margin: 55px auto 20px;
            display: block;

            &.yipit {
                @include common-sprite(yipit, $dimensions: true);
            }

            &.oony {
                @include common-sprite(oony, $dimensions: true);
            }

            &.viadeo {
                @include common-sprite(viadeo, $dimensions: true);
            }

            &.threadless {
                @include common-sprite(threadless, $dimensions: true);
            }
        }

        .quote {
            font-size: 16px;
            font-style: italic;
            line-height: 22px;
            color: #333;
        }

        .author {
            font-size: 14px;
            color: #333;

            &:before {
                content: '';
                margin: 21px auto;
                background-color: #e2e2e2;
                @include box-shadow(0 -1px 0 0 #fafafa);
                display: block;
                height: 1px;
                width: 35px;
            }
        }
    }

    .new-testimonial {
        margin-top: 50px;

        .button {
            margin: 0 auto;
        }

        .link {
            display: block;
            font-style: italic;
            font-size: 16px;
            margin-top: 18px;
            text-decoration: underline;

            &.grey {
                color: #666;
            }
        }
    }
}

