/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../env/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../env/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../env/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../env/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../env/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../env/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../env/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../env/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../env/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../../../webapp/sass/screen.scss */
h1 {
  color: white;
  background-color: #007e00;
  font-weight: bold;
  font-size: 1.2em;
  padding: 8px;
}

/* line 17, ../../../webapp/sass/screen.scss */
body {
  color: #007e00;
  background-color: #f8fff8;
  font-size: 16px;
  font-family: sans-serif;
  margin: auto;
  width: 80%;
  display: relative;
}

/* line 27, ../../../webapp/sass/screen.scss */
a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}
/* line 32, ../../../webapp/sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 37, ../../../webapp/sass/screen.scss */
label {
  font-weight: bold;
}

/* line 41, ../../../webapp/sass/screen.scss */
.section {
  border: 1px solid #007e00;
  padding: 8px;
}

/* line 46, ../../../webapp/sass/screen.scss */
.primary-button {
  display: inline-block;
  background-color: #007e00;
  color: white;
  border: 1px solid #001800;
  border-radius: 12px;
  padding: 12px;
  text-align: center;
  box-shadow: 1px 1px 2px #001800;
}
/* line 55, ../../../webapp/sass/screen.scss */
.primary-button:active {
  box-shadow: none;
}

/* line 60, ../../../webapp/sass/screen.scss */
.secondary-button {
  display: inline-block;
  background-color: #dfffdf;
  color: #007e00;
  border: 1px solid #78ff78;
  border-radius: 12px;
  padding: 12px;
  text-align: center;
  box-shadow: 1px 1px 2px #78ff78;
}
/* line 70, ../../../webapp/sass/screen.scss */
.secondary-button:active {
  box-shadow: none;
}

/* line 75, ../../../webapp/sass/screen.scss */
.error {
  color: red;
}

/* line 79, ../../../webapp/sass/screen.scss */
table.issue-list {
  border-collapse: collapse;
  border: 1px solid #007e00;
}
/* line 84, ../../../webapp/sass/screen.scss */
table.issue-list > thead > tr > th, table.issue-list > tbody > tr > th {
  font-weight: bold;
  color: white;
  background-color: #007e00;
  padding: 4px 16px;
  font-size: 1em;
}
/* line 92, ../../../webapp/sass/screen.scss */
table.issue-list > thead > tr > td, table.issue-list > tbody > tr > td {
  padding: 4px 16px;
  font-size: 0.75em;
}
/* line 98, ../../../webapp/sass/screen.scss */
table.issue-list > tbody > tr:nth-child(odd) {
  background-color: #b4ffb6;
}
/* line 102, ../../../webapp/sass/screen.scss */
table.issue-list > tbody > tr:hover {
  background-color: #e7ffe8;
}

/* line 107, ../../../webapp/sass/screen.scss */
ul.issue-paginator {
  display: inline-block;
}
/* line 109, ../../../webapp/sass/screen.scss */
ul.issue-paginator > li {
  display: inline-block;
  min-width: 16px;
  padding: 4px;
  text-align: center;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
}
/* line 119, ../../../webapp/sass/screen.scss */
ul.issue-paginator > li > a:hover {
  cursor: default;
}
/* line 124, ../../../webapp/sass/screen.scss */
ul.issue-paginator > li.page-active {
  background-color: #007e00;
  color: #f8fff8;
}
