#assessoreHeaderViewlet {
    padding: 1em 1em 0;	
	font-size: 110%;
}
.documentEditable #assessoreHeaderViewlet {
    padding: 0 0 1em; 
	
}
#assessoreHeaderViewlet .assessoreImg{
	float:left;
	margin-right: 2em;
}
#assessoreHeaderViewlet .assessoreReferences {
	padding: 10px;
}
#assessoreHeaderViewlet .assessoreDetails {
	background-color: #515151;
	color: #FFF;
	margin-top:1em;
}
#assessoreHeaderViewlet .assessoreDetails a {
	color: #FFF;
	text-decoration: none;
	border-bottom: 1px solid #CCC;
}
#assessoreHeaderViewlet .assessoreDetails a:hover {
    border-bottom-color: #FFF;
}
#assessoreTabs {
	margin-bottom:0;
	margin-left:0;
}
#assessoreTabs li{
	display:inline-block;
	margin: 0 0.2em 0 0;
}

#assessoreTabs li a {
	background-color:#EFEFEF;
	margin:0;
	display:inline-block;
	padding: 0.2em  1em;
	text-decoration: none;
}
#assessoreTabs li a:hover,
#assessoreTabs li.selectedTab a {
	background-color: #515151;
	color: #FFF;
}
#assessoreHeaderViewlet .documentFirstHeading {
	font-size: 1.8em;
}
