/***************************************************************************
 *  Gins Grid System.
 *
 *  This system accurately controls the structure of a web page,
 *  based in using two nested div tag elements for each block:
 *
 *   - 1) A outer div, defined with the "grid-container" class.
 *        This first div is to control the exact grid column dimension
 *        and position of the block.
 *        It cannot define box model elements (margin,border,padding).
 *
 *   - 2) A inner div, defined with the "grid-content" class.
 *        The second div is to define the box: margin, border, padding
 *        and dimensions of the block.
 */

@mixin grid-container($width, $unit:"%") {
    width: #{$width}#{$unit};
    margin: 0;
    border: none;
    padding: 0;
    @if $width == 100 {
        display: block;
    } @else {
        display: inline-block;
    }
    position: relative;
}

@mixin def-grid-container-class($width, $unit:"%") {
    .grid-container-class-#{$width} {
        @include grid-container($width, $unit);
    }
}


@mixin grid-content() {
    display: block;
//    overflow: hidden;
//    width: 100%;
}

@mixin def-grid-content-class() {
    .grid-content-class {
        @include grid-content();
    }
}
