.dynList
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:3px solid #ddd;
    list-style-type:none;
    position:relative;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dynListButton
{
    float:left;
    height: 22px;
}

.dynListItem{
    left: -30px;
    position:relative;
    border-bottom: #eee 1px solid;
    font-family:"Verdana";
    font-style:italic;
    margin-bottom: 5px;
}

.dynListSelected
{
    background-color:#aaa;
}


.dynListNotSelected
{
    background-color:white;
}
