.main_menu_window
{
	position:relative;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border:1px solid;
    height:400px;
    width:500px;
    overflow-y:auto;
    overflow-x: hidden;
    background-color: #fff;
}

.main_menu_button_row
{
	position:relative;
	width:180px;
	left:160px;
	top:40px;
}

.main_menu_button
{
	width:180px;
	margin-top: 20px;
}

.start_over_button
{
	position:absolute;
	top:10px;
	left:0px;
	height:25px;
    width:27px;
	-webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-image:url('../img/startover.png');
}

.start_over_button:hover
{
background-color:#AAAAAA;
}

.help_button
{
	position:absolute;
	top:10px;
	left:30px;
	height:25px;
    width:27px;
	-webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-image:url('../img/help.png');
}

.help_button:hover
{
background-color:#AAAAAA;
}

td {
    -moz-box-sizing: border-box;
}

input {
    -moz-box-sizing: border-box;
}
