# Following is a list of parameters
# [main]
# snapshot_age_limit: The age of the snapshots, in seconds. Used for purging
# tags_in_use: Comma seperated list of tags in use to check for
# syslog_level: The facility and level at which syslogging should be done
# snapshot_identifier: A Unique identifier with which to identify snapshots made by the script
# startup_sleep_seconds: How long to wait after starting an instance before attempting to link the elastic IP back onto it

[main]
tags_in_use=Name,AutoUpdate,AutoSnapshot,EIP,Owner

syslog_level=local6.warn

snapshot_age_limit=604800
snapshot_identifier=identifier1
snapshot_max_revisions=5

smtp_server=myserver.mydomain.com

startup_sleep_seconds=45

