h1 {margin-bottom: 4px;}
h2 {line-height: 20px;}
h3, h4, h5, h6 {line-height: 15px;}

/* LOGIN */
.login form {margin-bottom:0px;}
.login .form-row label {padding:0px;}
.login .submit-row {padding: 1em 0 0 7.7em !important;}
/* FINE LOGIN */

.module ul.actionlist {
    margin: 0 0 3px 25px;
}
div.breadcrumbs {
    padding: 7px 14px;
    margin:  0px 16px 0px 12px;
    background-color: whiteSmoke;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}
#changelist .actions {margin-top: 0px;margin-bottom: 0px;}
#changelist #changelist-search label { float:none; }
form#changelist-search {margin-bottom:0px;}
#changelist .actions label {float:none;}

#header {background: #222;}
/*#content {margin-top:50px;}*/
#branding h1 {color:white;}
.container {width:100%}
h1 {font-size: 18px;line-height: 27px;}

#changelist #toolbar form input {padding: 4px 6px !important;}
#changelist .actions .button {padding: 4px 6px !important;}

.button:active, input[type=submit]:active, input[type=button]:active {
    background-image: none;
}

.button[disabled], input[type=submit][disabled], input[type=button][disabled] {
    background-image: none;
}

.button.default:active, input[type=submit].default:active {
    background-image: none;
}

.button[disabled].default, input[type=submit][disabled].default, input[type=button][disabled].default {
    background-image: none;
}

.button.default, input[type="submit"].default, .submit-row input.default {text-shadow: none;padding: 4px 6px;}
fieldset {padding-top: 0px;}

.module h2, .module caption, .inline-group h2 {
    background: none;
    background-color: whiteSmoke;
    background-repeat: repeat-x;
    border-bottom: 1px solid #DDD;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    color:#404040;
}
a.section:link, a.section:visited {color:#404040;}

.module caption {padding: 5px;}
.module table {margin-bottom: 0px;}
.dashboard .module table th {padding: 4px 2px 4px 5px; vertical-align: middle;}

table th {line-height: 15px;}
table tbody th {vertical-align:top;}
table th, table td {padding: 4px 10px;}

input, select, .uneditable-input {
    /* height: 13px; */
    padding: 3px;
    font-size: 12px;
    line-height: 13px;
}
select, input[type="file"] {
    height: 27px;
    line-height: 27px;
}

/* ALERT */
.alert-message, .errornote, ul.messagelist li, ul.errorlist li {
    background: none;
    position: relative;
    padding: 3px 20px;
    margin-bottom: 0px;
    color: white;
    font-weight: bold;
    background-color: #57A957;
    background-repeat: no-repeat;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -ms-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(top, #62c462, #57a957);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #57A957 #57A957 #3D773D;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
ul.messagelist {margin: 5px 13px; padding:0px;}
.errornote, ul.errorlist li {
    background-color: #C43C35;
    background-repeat: no-repeat;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #C43C35 #C43C35 #882A25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color:white;
    font-weight:bold;
    margin-bottom: 5px;
}
/* FINE ALERT */
.selector {width: 830px !important}
/* WIDGET M2M*/
.selector select, .selector-available, .selector-chosen {width: 45%}
.selector ul.selector-chooser { margin-top:2em}
.vTimeField {margin-left:7px;}
input, textarea, select {color:#333333;}

#search_form_head p {
  cursor: pointer;
  font-weight: bold;
}

#search_form table tbody td  {
  font-size: 11px;
  line-height: 13px;
  /* border-top: 0px ; */
  border-left: 0px ;
  border-width: 0px;
  vertical-align: top;
  padding: 5px;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

#search_form table tbody td:first-child {
    border-right: 1px ;
}

#search_form_container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  border-bottom: 1px solid #CCC;
  color: #000000;
}

.common_header, .gmaps_header {
  background: transparent url(/static/jmb/images/header.png) repeat-x scroll 0pt -1px;
  border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
  /* border-style: solid; */
  /* border-width: 2px 1px 2px 2px; */
  /* overflow: hidden; */
  padding: 3px;
  color: #333;
  font-weight: bold;
  height: 15px;
}
# MULTI SELECTOR - VERTICAL-HORIZONTAL-FILTER
.selector {width: 90%;}
.selector select {width: 100%;}
.selector-available, .selector-chosen {width:45%;}
#header #bookmark-button { /* posiziona la stellina dei bookmark */
  margin-top: 22px;
}

ul.messagelist li.success {
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
    color: #468847;
    background-image: none;
}
ul.messagelist li.info {
    background-color: #D9EDF7;
    border: 1px solid #BCE8F1;
    color: #3A87AD;
    background-image: none;
}
ul.messagelist li.warning {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    color: #C09853;
    background-image: none;
}
ul.messagelist li.error {
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
    color: #B94A48;
    background-image: none;
}
.errornote, ul.errorlist li {
    background-color: #F2DEDE;
    background-image: none;
    border: 1px solid #EED3D7;
    color: #B94A48;
}

.modal h3 {line-height: 36px;}

fieldset .field-box {
    width: 46%;
}
/* STILI PER GLI ADMIN TABS*/

.admintab.nav-tabs {
    border-bottom: 1px solid #DDDDDD;
    width: 100%;
    background-color: white;
    z-index: 99;
}

.container .admintab.nav {
    margin-bottom: 5px;
}

.tabdisabled{
    opacity: 0.5;
    color: gray;
}
.taberror{
    background-color: rgb(255, 226, 226) !important;
}

/* fix per le versioni di autocomplete 1.4.9 */

fieldset .form-row {
    /* overflow: visible !important; */
    min-height: 26px;
}

#result_list td img {
    vertical-align: top;
}

/* FLOAT LEFT PER LE CHECKBOX */

.aligned .vCheckboxLabel {
    float: left !important;
    padding-top: 0 !important;
}

.points2 {
    float: left;
    font-size: 13px;
    margin-left: -9px;
    line-height: 18px;
}

/* NASCONDE IL P DELLE ORIGINAL (UNICODE) */
.has_original .original p {
	display :none
}
.inline-group .tabular tr.has_original td {
padding-top: 0.5em;
}