body {
  padding-top: 70px;
}
#upaas-link-logout:hover {
  color: #cd0200;
}
.nav-tabs {
  margin-bottom: 15px;
}
.table > tbody > tr > td.upaas-table-action {
  padding: 3px;
}
.upaas-no-wrap {
  white-space: nowrap;
}
.btn-default {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.pagination .active > a,
.pagination .active > a:hover {
  border-color: #dddddd;
}
.upaas-dropdown-menu-form {
  padding: 5px 10px 0;
  max-height: 300px;
  overflow-y: auto;
}
.dropdown-menu:before {
  position: absolute;
  top: -8px;
  left: auto;
  right: 12px;
  display: inline-block;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(0, 0, 0, 0.15);
  border-left: 8px solid transparent;
  content: '';
}
.pull-right.dropdown-menu:before,
.opensleft.dropdown-menu:before {
  left: auto;
  right: 12px;
}
.pull-left.dropdown-menu:before,
.opensright.dropdown-menu:before {
  left: 12px;
  right: auto;
}
.dropdown-menu:after {
  position: absolute;
  top: -7px;
  left: auto;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ffffff;
  border-left: 7px solid transparent;
  content: '';
  right: 13px;
}
.pull-right.dropdown-menu:after,
.opensleft.dropdown-menu:after {
  left: auto;
  right: 13px;
}
.pull-left.dropdown-menu:after,
.opensright.dropdown-menu:after {
  left: 13px;
  right: auto;
}
