.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(test.png) no-repeat 0 0
}
.add {
    width: 14px;
    height: 14px
}
.arrow-back {
    background-position: -19px 0;
    width: 6px;
    height: 10px
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .icon {
        background-image: url(test-2x.png);
        background-size: 25px 14px
    }
}
