[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg

package-name = collective.calendarview
package-extras = [test]
github-url = git@github.com:
extensions =
    mr.developer

sources = sources
sources-dir = extras
auto-checkout = *


[sources]
collective.configviews = git git@github.com:collective/collective.configviews.git
