
#visual-portal-wrapper #portal-column-two .portlet .portletHeader,
#visual-portal-wrapper .cn-category-title { //needs to override PloneCustom

  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: @font-size-base;
  font-weight: 700;
  color: @headings-color;
  margin: 0 0 30px;

}

#content .author {
  h2,
  h3 {
    font-size: @font-size-base;
    font-weight: 700;
  }
  h2, span.discreet {
    color: @gray-light;
  }
  h2 {
    text-transform: uppercase;
  }

  h3 {
    font-size: @font-size-h4;
    font-weight: normal;
  }
  img {
    margin-right: 1em;
  }
}

#visual-portal-wrapper .subcategory {
  .cn-category-title {
    color: #999999;
    margin: 6px 0;
  }
}

.tagNavigator > ul > li {
  margin-bottom: 30px !important;
}


.relatedTitle, #portal-column-two .portlet a.tile {


  font-size: @font-size-base;
  line-height: 1.7;

}

#visual-portal-wrapper #portal-column-two .portlet .portletItem {

  border-bottom: 1px solid #e0e2e4;
  line-height: 2; // override ploneCustom

  &:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

}

dl.portlet {
  font-size: inherit;
}



.tagNavigator {
  li {
    display: block;
    margin: 6px 0;
    a span {
      margin-left: 24px;
    }
  }

}

