
body {
  background-image: none;
}

#portal-column-two .portlet,
.pageWrapper {

  .box();

}

#portal-column-two .portletWrapper .portlet,
.pageWrapper {

  position: relative;
  .box-padding();

}

.pageWrapper {
  margin-top: 15px; //match portlet
}

#content {
  margin: 0 0 30px;

  &, li, .documentDescription, .pullquote, callout, dd {
    font-size: 17px;
    line-height: 2;
    color: inherit;
    font-family: @font-family-base;
  }

  ol, ul {

    margin-left: 0;
    padding-left: 52px;

  }

  li {

    padding-left: 20px;

  }

  body & div.newsImageContainer {

    @media all and (max-width:@screen-xs-max) {

//      margin-left: 0;
      float: none;

      margin-left: -@mobile-global-padding;
      margin-right: -@mobile-global-padding;
      img {
        max-width: 100%;
        height: auto;
      }

    }

    p.discreet {
      color: @gray-discreet;
      font-size: 12px;
    }

  }

  .pullquote, .callout {

    background-color: transparent;
    color: @text-color;
    border-left-width: 2px;
    border-left-color: #d9dadb;
    margin-left: 0;
    padding: 0 0 0 36px;


  }

  a {
    &, &:active, &:link, &:visited {
      font-weight: 400;
    }
  }

}

.documentFirstHeading {

  .h1();

}

.pageWrapper .news-date {

  &, span {
    .dateline();
  }

}



@media all and (max-width: @screen-xs-max) {

  #visual-portal-wrapper .container {
    overflow: hidden;
    padding: 0;
  }

  #content {

    ol, ul {

      padding-left: 24px;

    }

    li {

      padding-left: 0px;

    }

  }

}


#portal-column-content #content div.listingBar {

  width: 100%;
  margin: 30px 0;
  color: @headings-color;


  a {
    .box();
    margin-right: 6px;
    color: @headings-color;
  }

  .previous, .next {
    background-color: transparent;
  }

  .next a {
    margin-right: 0;
  }

  span + a {

    margin-left: 6px;

  }


}







.pageWrapper .author {

  img {
    .img-circle();
  }


  @media all and (min-width:@screen-md) {
    width: 293px;
    position: absolute;
    bottom: 0;
    right: -293px - 26px;

//    margin-left: 26px;
    padding-left: 8px;
    padding-bottom: 30px;

    border-bottom: 1px solid #dce1e3;
  }
  @media all and (min-width:@screen-lg) {
    width: 360px;
    right: -360px - 26px;
  }

}

#formatted-date {
  position: absolute;
  z-index: 1000;
  width: 72px;
  height: 65px;
  top: 20px;
  left: -8px;
  background: url("++theme++wmowonen.theme/images/date.png");
  div {
    color: white;
    text-align: center;
  }
  .month {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    top: 8px;
    position: relative;
  }
  .day {
    font-size: 24px;
    position: relative;
    top: -9px;
    font-weight: normal;
  }
}

#content-views {
  margin-bottom: 0px;
}
#contentActionMenus dl {
  margin-bottom: 4px;
  margin-top: 4px;
}
#edit-bar .actionMenuContent li {
  line-height: 2em;
}

.newsImageContainer {
  position: relative;
  .imageLink {
    display: block;
    position: relative;
  }
  .addthis_toolbox {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 239px;
    background: url("++theme++wmowonen.theme/images/gradient.png");
    .wrapper {
      padding-left: 16px;
      padding-top: 204px;
      display: block;
    }
    a {
      display: inline-block;
      margin-left: 4px;
    }
    a.addthis_button_email {
      background: url("++theme++wmowonen.theme/images/social-links.png") no-repeat 0px 0px;
    }
    a.addthis_button_twitter {
      background: url("++theme++wmowonen.theme/images/social-links.png") no-repeat -28px 0px;
    }
    a.addthis_button_linkedin {
      background: url("++theme++wmowonen.theme/images/social-links.png") no-repeat -58px 0px;
    }
  }
}

.portaltype-portlet-page #visual-portal-wrapper > .portletWrapper.portlet-position-1 {
  border-top-width: 0px;
}
body.userrole-anonymous.portaltype-portlet-page #visual-portal-wrapper > .container:first-child {
  display: none;
}
img.image-left, img.image-right, .captioned img {
    border-width: 0px;
}
.newsImageContainer img {
  border: 0;
}
