.categories {
    li {
        a {
            @include transition(background-color 200ms linear);
        }
    }
}

.category {
    margin-top: 30px;

    h2 {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .category-description {
        margin-bottom: 30px;

        a {
            margin-top: -2px;
            margin-right: 4px;
        }
    }

    a.list-group-item {
        @include transition(background-color 200ms linear);
    }

    .label-container {
        font-size: 0;
    }
    .label {
        display: inline-block;
        vertical-align: top;
        font-size: 11px;
        margin-right: 5px;
    }

    h4 {
        .icon {
            margin-right: 5px;
            top: 3px;
        }
    }

    .toolbar {
        margin-top: -10px;
        overflow: hidden;
    }

    .last-version {
        margin-top: 4px;
        margin-left: 4px;
    }

    .last-updated {
        font-size: 11px;
        line-height: 16px;
        color: #666;
    }
}
