[buildout]
extends = https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
package-name = collective.envlogfile
package-extras = [test]
test-eggs =

[instance]
event-log-custom =
    %import collective.envlogfile
    <envlogfile>
        path %(MYENV)s
        level INFO
    </envlogfile>
