@import "compass";

@import "common/*.png";

@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

.btn {
    color: #3b5895;
    &:hover {
        color: #4d70b2;
    }
}

.btn-primary {
    color: white;
    border-color: #4d70b2;
    background-color: #2f4675;

    &:hover {
        color: white;
        background-color: #3b5895;
    }
}

@import "header";
@import "index";
@import "create";
@import "show-bundle";
@import "login";
