
.doormat {

  background-color: #252b2e;

  padding: 52px 0;

  color: @gray-footer-color;

}

.doormat .portletHeader,
.doormat .portletItem h2 {

  font-size: 18px;
  font-weight: 600;
  margin-bottom: 26px;
  color: @gray-footer-color;

}

.doormat ul {

  li {
    display: block;
    margin: 6px 0;
  }
  a {
    color: @gray-footer-color;
    font-weight: 400;
  }

}

.doormat [class*=col-] {
  margin-bottom: 40px;
}

.doormat #formfield-form-email {

  margin: 12px 0;
  font-size: 12px;
  line-height: 150%;

}