/**
 * Spriting is not done by default for .gif and can be turned on/off for all
 * images.
 */
.folder {
    background: url(folder.png) no-repeat
}
.accept {
    background: url(test.png) no-repeat 0 0;
    width: 16px;
    height: 16px
}
.loader {
    /* GIF images are not sprited by default */
    background: url(loader.gif) no-repeat
}
.loader-inlined {
    /* But we can explicitly turn spriting on for GIF as well. */
    background: url(test.png) no-repeat -21px 0;
    width: 16px;
    height: 16px
}
