[buildout]
develop = .
          ../p01.testbrowser
parts = test checker coverage coveragereport


[test]
recipe = zc.recipe.testrunner
eggs = j01.jsonrpc [test]


[checker]
recipe = lovely.recipe:importchecker
path = src/j01/jsonrpc


[coverage]
recipe = zc.recipe.testrunner
eggs = j01.jsonrpc [test]
defaults = ['--all', '--coverage', '../../coverage']


[coveragereport]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport
arguments = ('parts/coverage', 'parts/coverage/report')
