/*
 *   Spline Web Management Stylesheet
 *     Copyright 2012 Westmetal Publishing.   All rights reserved.
 *
 */

body, html { margin: 0; padding: 0 }
body { background: url(/images/ceptacle_bg.png)
                   no-repeat fixed
                   bottom right
                   transparent;
       background-color: MintCream }

// #content { width: 90%; }

a { color: DarkTurquoise; text-decoration: none }
a:hover, a:visited:hover { color: Teal }
a:visited { color: DarkGoldenRod }

.snow-link,
.snow-link:visited { color: Snow }
.snow-link:hover,
.snow-link:visited:hover { color: Thistle }

.blackice-link,
.blackice-link:visited { color: black }
.blackice-link:hover,
.blackice-link:visited:hover { color: black }
.blackice-link { font-weight: bold;
                 border-bottom: double grey }

.cursor { cursor: pointer }

a.content-link { border-bottom: thin dotted Turquoise }

#header { padding: 40px 10px 50px 40px;
          margin: 0; color: Snow;
          width: 100%; border-bottom: black solid 1px;
          background: DarkSlateGrey }

#header h1,
#header h4 { margin: 0; padding: 0;
             font-family: Georgia }

#header h4 { padding-left: 70px }

#heading-line { width: 500px; display: inline-block }

#huds { font-style: italic;
        font-size: 14px;
        display: inline-block;
        float: right;
        padding: 0px 120px 0px 0px }

#sidebar { display: inline-block;
           width: 200px; height: 100%;
           float: left; color: Seashell;
           background: Teal;
           padding-top: 16px;
           border-left: solid 6px DarkCyan;
           border-right: solid 2px black; }

#sidebar h2 { padding-left: 10px }
#sidebar ul { font-family: Arial;
              font-size: 20px }

#sidebar ul > li { list-style-image: url(/images/point.png); }
#sidebar .subaction li { list-style-image: url(/images/action.png); }
#sidebar .subaction { padding-bottom: 10px }

#detail { display: inline-block;
          margin: 0; padding: 10px 10px 30px 20px }

#detail table { padding-left: 20px; width: 100% }

.manager-config { }

.partner-name { padding: 8px 20px 8px 10px;
                background: white;
                font-family: Helvetica;
                font-size: 18px;
                font-style: italic;
                width: 500px;
                border: solid thin black; }

.left, .right { padding: 4px 10px 4px 10px;
                vertical-align: top }

.left { font-weight: bold;
        font-family: sans-serif }

.config-button { padding-bottom: 20px }
#partners td.configuration pre { background: white;
                                 border: solid thin;
                                 padding: 10px 10px 10px 10px;
                                 height: 200px; overflow-y: auto }

.message { width: 500px; overflow: auto;
           background: white;
           border: solid thin black;
           padding: 10px }