input.textType { width:60em; }

.thread-listing { margin: 1ex 0; }

.message { margin: 2em 0; }
.message-header { font-weight: bold; }
.message-matches { font-weight: bold; }
.message-replies { margin-left: 4em; }
.message-body { white-space: pre-wrap; }


.odd { background-color:#ffffff; }
.even { background-color:#eef3f5; }

.notmuchmail-open div, .notmuchmail-close div { width:16px; height:16px; }
.notmuchmail-open div{ background-image:url("/++resource++dm.zope.notmuchmail.resources/open.png"); }
.notmuchmail-close div{ background-image:url("/++resource++dm.zope.notmuchmail.resources/close.png"); }

.message .notmuchmail-open, .message .notmuchmail-close { vertical-align:top; }
