#gallery{
  background-color: #cccccc;
  padding: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#owl-example{
  width: 100%;
}
.study img{
  border: 5px solid white;
}
.study {
  padding: 5px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;  
  width: 215px;
}
.study div{
  width: 100%;
  background-color: white;
  text-align: center;
  margin-top: -2px;
}
.study a{
  border: 0px !important;
}
#mapSection {
  margin-top: 15px;
}
#owl-example .owl-controls .owl-buttons div {
  position: absolute;
}
#owl-example .owl-controls .owl-buttons .owl-next {
  right: -26px;
  top: 55px;
}     
#owl-example .owl-controls .owl-buttons .owl-prev {
  left: -26px;
  top: 55px;
} 
.icon-white{
  background-image: url("glyphicons-halflings-white.png");
  display: inline-block;
  width: 12px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
}
.icon-chevron-right {
  background-position: -456px -72px;
}
.icon-chevron-left {
  background-position: -432px -72px;
}
.owl-theme .owl-controls .owl-buttons div {
  padding: 3px 6px !important;
}
.owl-wrapper-outer {
  margin-left: 5px;
}
#mainMap{
  border: 3px solid #CCCCCC;
}
#locateDiv{
  display: none;
}