[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg

versions = versions
package-name = theming.toolkit.views
package-extras = [test]

parts +=
    node
    omelette
    zptlint

extensions += mr.developer

sources-dir = checkouts
auto-checkout =
    plone.mls.core
    plone.mls.listing
    collective.carousel
always-checkout = true


[code-analysis]
directory = ${buildout:directory}/src/theming/toolkit/views
pre-commit-hook = True
flake8-ignore = E501
flake8-max-complexity = 12
csslint = True
csslint-bin = bin/csslint
debug-statements = True
prefer-single-quotes = True
zptlint = True
zptlint-bin = bin/zptlint


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[sources]
plone.mls.core = git git://github.com/propertyshelf/plone.mls.core.git
plone.mls.listing = git git://github.com/propertyshelf/plone.mls.listing.git
collective.carousel = git git://github.com/collective/collective.carousel.git


[versions]
collective.carousel =
mr.developer = 1.30
plone.mls.core =
plone.mls.listing =
theming.toolkit.views =
