[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg

versions = versions
package-name = theming.toolkit.views
package-extras = [test]
test-eggs = Pillow
parts +=
    node

# network speedup
socket-timeout = 3
allow-hosts =
    *.plone.org
    *.python.org
    *.zope.org
    docutils.sourceforge.net
    effbot.org
    httplib2.googlecode.com
    prdownloads.sourceforge.net

extensions += mr.developer

sources-dir = checkouts
auto-checkout =
    plone.mls.core
    plone.mls.listing


[code-analysis]
directory = ${buildout:directory}/src/theming/toolkit/views
pre-commit-hook = False
flake8-ignore = E501
flake8-max-complexity = 12
csslint = True
csslint-bin = bin/csslint
jshint = True
jshint-bin = bin/jshint
debug-statements = True
prefer-single-quotes = True


[sources]
plone.mls.core = git git://github.com/propertyshelf/plone.mls.core.git
plone.mls.listing = git git://github.com/propertyshelf/plone.mls.listing.git


[versions-4.1.x]
plone.app.testing = 4.2.2

# Required by plone.app.dexterity >= 2.0
z3c.form = 3.0.0a3
plone.app.z3cform = 0.7.2
collective.z3cform.datetimewidget = 1.2.3


[versions-4.2.x]
# 4.2.7 is currently not available as UnifiedInstaller.
Plone = 4.2.6
