; vim: set fileencoding=utf-8 :
; Nesli Erdogmus <nesli.erdogmus@idiap.ch>
; Thu 11 Jul 13:09:18 2013 CEST

[buildout]
parts = scripts
develop = .
prefer-final = false
eggs = bob
       ipdb
       maskattack.lbp
       xbob.db.maskattack

[scripts]
recipe = xbob.buildout:scripts
