#calendar {
  width: 95%;
  margin: 0 auto;
}

#calendar-legend {
  width: 16%;
  float: left;
  margin-top: 2em;
}

#calendar-legend div {
  padding: .5em 1em;
  margin: .2em 0;
  width: 100%;
  text-align: left;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

#calendar-legend div input {
  left: -99px;
  position: absolute;
  display: none;
}

#calendar-wrapper {
  float: right;
  width: 80%;
  margin-bottom: 3em;
}

.calendar-unchecked {
  background-color: #E6E6E6 !important;
  border: 1px solid #CCCCCC !important;
  color: #A1A1A1 !important;
}

.fc-event {
  cursor: pointer;
}

.fc-sat, .fc-sun {
  background-color: #fbfbfb;
}


/* example calendar css */
.cal1 {
  background-color: OliveDrab;
  border: 1px solid DarkOliveGreen;
  color: white !important;
}

.cal2 {
  background-color: Khaki;
  border: 1px solid DarkKhaki;
  color: black !important;
}

.cal3 {
  background-color: Plum;
  border: 1px solid Orchid;
  color: black !important;
}

.festivita,
#content .festivita:link,
#content .festivita:visited {
  background-color: FireBrick;
  border: 1px solid DarkRed;
  color: white !important;
}

.template-calendar-view .tooltip {
    border:1px solid #ddd;
    padding:.5em 1em;
    width:200px;
    display:none;
    color:#000;
    text-align:left;
    box-shadow:1px 2px 5px #ddd;
}
