@media (max-width: 480px){
	table{
	  zoom:.80;
	}
}

#financials table{
	border: 1px solid #e3e3e3;
	margin-bottom: 5px;
	border-collapse:separate; 
	border-spacing:5px;
}
#financials table > th{
  text-align:center;
}
