@charset "utf-8";

body {
    font-family: 'PT Sans', 'Arial', sans-serif;
    color: #000;
    min-width: 1000px;
    background-color: #fff;
    position: relative;
    height: 100%;
}

form{
    padding: 40px 0;
}

input[type="text"],
input[type="password"],
textarea{
    outline: none;
    border: solid 1px #eee;
    padding: 5px 10px;
}

a {
    text-decoration: none;
    color: #00aeff;
}
a:hover {
    color: #ca0000;
}

#main{
    width: 80%;
    margin: 0 auto;
    min-width: 960px;
}

#main h1{
    font-size: 112.5%;
    font-weight: bold;
    text-transform: uppercase;
    margin: 40px 0;
}

#main h2{
    font-size: 112.5%;
    margin: 30px 0;
}

#main a{
    display: inline-block;
}

#main p{
    margin: 15px 0;
}

#main form{
    vertical-align: top;
}

#main form select{
    display: inline-block;
}

#main form p .button{
    background: #00AEFF;
    border: solid 1px #00AEFF;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    outline: none !important;
    padding: 5px 10px;
    font-family: 'PT Sans', 'Arial', sans-serif;
}

#main form div{
    margin-bottom: 20px;
}

#task-create-form p{
    display: block !important;
    margin: 20px 0;
}

#task-create-form p label,
#item-create-form p label,
#item-create-form th{
    text-align: left;
    margin-right: 30px;
    width: 150px !important;
    display: inline-block;
    line-height: 140%;
    font-size: 14px;
}

#item-create-form td,
#item-create-form th{
    padding: 15px 0;
}

#login-form td{
    text-align: left;
    margin-right: 30px;
    width: 100px !important;
    display: inline-block;
    line-height: 140%;
    font-size: 14px;
    padding: 10px 0;
}

.helptext{
    margin-left: 30px;
    display: inline-block;
    font-size: 14px;
}

.menu{
    padding: 0 10%;
    background: #363636;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.menu a{
    display: inline-block;
    margin: 20px;
    text-transform: uppercase;
    color: #fff;
}

.menu a:first-child{
    margin-left: 0;
}

.button{
    display: inline-block;
    padding: 5px 10px;
    background: #1abc9c;
    color: #fff;
    font-weight: bold;
}

.button:hover{
    color: #fff;
}

#filter{
    float: right;
    width: 345px;
    min-height: 50px;
}

#filter h3{
    background: #1ABC9C;
    color: #FFFFFF;
    padding: 20px;
    margin-bottom: 15px;
}

#filter p{
    display: inline-block;
    margin: 10px 15px;
    cursor: pointer;
}

.pop-up{
    display: none;
}

.visible{
    display: block;
}

.task-create-master{
    position: absolute;
    top: 150px;
    left: 10%;
    width: 80%;
    min-height: 200px;
    background: #ededed;
    z-index: 999;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
}

.pop-up .menu{
    display: none;
}

#item-create-form p label.short-label{
    width: 20px !important;
}

.logout{
    text-align: right;
    text-decoration: underline;
    position: absolute;
    text-transform: none !important;
    top: 0;
    right: 10%;
}

/*-----------------maps-------------------*/

.labels{
    color: red;
    background-color: white;
    font-family: "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 40px;     
    border: 2px solid black;
    white-space: nowrap;
}

.controls {
margin-top: 16px;
border: 1px solid transparent;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
height: 32px;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
background-color: #fff;
padding: 0 11px 0 13px;
width: 400px;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
text-overflow: ellipsis;
}

#pac-input:focus {
border-color: #4d90fe;
margin-left: -1px;
padding-left: 14px;  /* Regular padding-left + 1. */
width: 401px;
}

.pac-container {
font-family: Roboto;
}

#type-selector {
color: #fff;
background-color: #4d90fe;
padding: 5px 11px 0px 11px;
}

#type-selector label {
font-family: Roboto;
font-size: 13px;
font-weight: 300;
}