
# This worch config file produces a UPS products repository which is
# coincident with the worch package installation directory.

[start]
groups = upsprod, gnuprog

ups_version = 5.1.2
ups_products_dir = {PREFIX}
ups_qualifiers = 
ups_quals_dashed = 
ups_product_name = {package}
ups_product_version = v{version_underscore}
ups_product_subdir = {ups_product_name}/{ups_product_version}/{ups_flavor}{ups_quals_dashed}

# finally, here we make the coincidence between worch worlds and UPS worlds
install_dir = {ups_products_dir}/{ups_product_subdir}

# We are gonna need this in all packages
tools = worch.upstools

[group upsprod]
packages = upsinit

[package upsinit]
version = {ups_version}
features = upsinit

[group gnuprog]
packages = hello, bc
features = tarball, autoconf, makemake, upsprod

# defaults for the group, exploit GNU's nice symmetries
srcpkg_ext = tar.gz
source_unpacked = {package}-{version}
source_package = {source_unpacked}.{srcpkg_ext}
source_url = http://ftp.gnu.org/gnu/{package}/{source_package}
unpacked_target = configure
prepare_target = config.status
export_PATH = prepend:{install_dir}/bin



[package hello]
version = 2.8
depends = prepare:bc_install
build_target = src/hello
install_target = bin/hello
# build optimized version
ups_qualifiers = x0:opt
ups_quals_dashed = -x0-opt
buildenv_CFLAGS=-O2


[package bc]
version = 1.06 
gnu_name = bc
build_target = bc/bc
install_target = bin/bc

[keytype]
groups = group
packages = package

