/* line 3, ../../../webapp/sass/issue-list.scss */
#issue-list-view {
  margin-top: 8px;
}
/* line 5, ../../../webapp/sass/issue-list.scss */
#issue-list-view #issue-actions {
  display: block;
  text-align: right;
  height: 64px;
}
/* line 18, ../../../webapp/sass/issue-list.scss */
#issue-list-view #issue-filter-results ul.issue-paginator {
  margin-top: 8px;
}
/* line 23, ../../../webapp/sass/issue-list.scss */
#issue-list-view #issue-filter-options {
  float: right;
  margin-left: 8px;
  width: 184px;
  border: 1px solid #007e00;
  padding: 4px;
}
/* line 31, ../../../webapp/sass/issue-list.scss */
#issue-list-view #issue-filter-options h2 {
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}
/* line 36, ../../../webapp/sass/issue-list.scss */
#issue-list-view #issue-filter-options select {
  width: 100%;
}
