/* line 3, ../../../webapp/sass/login.scss */
#login-box {
  background-color: #007e00;
  border: 1px solid black;
  box-shadow: 2px 2px 4px #001800;
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: auto;
  margin-top: 200px;
  width: 350px;
}
/* line 19, ../../../webapp/sass/login.scss */
#login-box label, #login-box input {
  width: 100%;
  display: block;
  margin-bottom: 8px;
  margin-top: 8px;
}
/* line 26, ../../../webapp/sass/login.scss */
#login-box label {
  color: white;
}
