/**
 * Test for the case where we don't have a `-sprite-selector` property.
 */
.accept {
    background: url(test.png) no-repeat 0 0;
    width: 16px;
    height: 16px
}
.world {
    background: url(test.png) no-repeat -21px 0;
    width: 16px;
    height: 16px
}
