[buildout]
parts =
    episodes
    blancmange
    textblob
    omelette
    test
eggs =
    blancmange
develop = .
prefer-final = false
extensions = mr.developer
sources = sources
auto-checkout = *

[sources]
python = hg http://hg.python.org/cpython egg=false

[blancmange]
recipe = zc.recipe.egg
dependent-scripts = true
eggs = ${buildout:eggs}
interpreter = py

[episodes]
recipe = plone.recipe.command
command = wget http://thetvdb.com/?tab=seasonall&id=75853&lid=7 -O episodes.html

[textblob]
recipe = plone.recipe.command
command = ${buildout:directory}/bin/py -m textblob.download_corpora

[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}

[test]
recipe = zc.recipe.egg
dependent-scripts = false
eggs =
    ${buildout:eggs}
    pytest
