@charset "utf-8";

/* Copyright 2013 California Institute of Technology. ALL RIGHTS
RESERVED. U.S. Government Sponsorship acknowledged.
*/

body {
    padding: 20px;
    background: #ccc url(++resource++edrnsite.vanity/linen-bg.png) repeat;
}
.vanityNagHeading {
    font: 36pt Georgia, Times, "Times New Roman", serif;
    color: rgb(166, 0, 0);
    margin-bottom: 12px;
}
.vanityNagMessage {
    font-size: 14px;
}
div#portal-breadcrumbs {
    display: none;
}
div#content {
    background: transparent;
}
h1 {
    border-bottom: none;
}