@import url(//fonts.googleapis.com/css?family=Philosopher&effect=3d-float);
@font-face{
    font-family: 'PT Sans'; 
    src: url('{{'jive_frontend:static/google_fonts/PT_Sans/PT_Sans-Web-Regular.ttf'|static_url}}');
}
 
@media(min-width: 981px){
    body{
        padding-top: 60px;
    }
}
 
body{
    font-family: 'PT Sans',sans-serif;
}

.ui-autocomplete-loading {
    background: white url('/static/images/loader.gif') 97% 50% no-repeat; 
}
.btn-link{
    color: #5586e0;
    background-color: transparent;
    box-shadow: none;
}
.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active{
    color: #333;
    background-color: transparent;
    box-shadow: none;
}
a{
	  color: #5586e0;
	  text-decoration: none;
}
a:hover,a:focus,a:active{
	  color: #5586e0;
	  text-decoration: none;
}
 
@media(max-width:767px){ 
    #tickers{
        max-width:250px;
    }
}
 
@media(max-width:479px){ 
    #tickers{
      max-width:115px;
    }
}
 
 @media(max-width:480px){ 
     #long_date{
       display:none;
     }
 	   #l_paren{
 	     display:none;
 	   }
 	   #r_paren{
 	     display:none;
 	   }
 	   #short_date_break{
 	     display:none;
 	   }
 }
 						 
 .table tr td{
     vertical-align:middle;
 }							
   	
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline{
    color: black;
}

.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea{
    color: black;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea{
    border-color: red;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus{
    border-color: red;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
    color: red;
    background-color: #f2dede;
    border-color: #b94a48;
}


@media(max-width:767px){
    body{
	    padding-left: 0px;
	  }
	  .navbar .brand{
	    margin: 0 0 0 20px;
	  }
	  .navbar .collapse{
	    margin: 0 0 0 20px;
	  }
	  #main-container{
	    padding-left: 10px;
	  }
}