header {
    &.show-install {
        .logo {
            @include box-shadow(0 1px 0 0 rgba(0,0,0,0.25), 0 2px 0 0 rgba(0,0,0,0.15), 0 3px 0 0 rgba(0,0,0,0.1), 0 4px 0 0 rgba(0,0,0,0.1));
        }
    }
}

.main-content {
    @include transition(all 500ms ease-in-out);

    &.show-install {
        @include box-shadow(0 -1px 0 0 rgba(0,0,0,0.25), 0 -2px 0 0 rgba(0,0,0,0.15), 0 -3px 0 0 rgba(0,0,0,0.1), 0 -4px 0 0 rgba(0,0,0,0.1));
    }
}

.install-instructions {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    @include transition(all 500ms ease-in-out);

    &.show {
        height: 650px;
        visibility: visible;
    }

    .more-details {
        margin-top: 24px;
    }

    .btn.install-button {
        margin: 30px 0;
    }
}

.logo {
    width: 100%;

    background-color: #dedede; // Old browsers
    @include filter-gradient(#ccc, #eeeeee, vertical); // IE6-9
    @include background-image(linear-gradient(top, #ccc 0%,#eeeeee 100%));
    @include box-shadow(0 1px 0 0 rgba(0, 0, 0, 0.25));
    @include transition(all 500ms ease-in-out);

    .icon {
        margin: 40px auto 20px;
        display: block;
        @include common-sprite-dimensions(logo);
        opacity: .999;
        @include transition(opacity 100ms linear);

        &:hover{
            opacity: .9;
        }

        &:before {
            content: '';
            display: block;
            /*https://www.iconfinder.com/icons/127817/anatomy_animal_atomy_barebone_body_bone_bones_cadever_carcase_carcass_corpse_corse_dead_death_ecology_fish_frame_skeleton_skull_stiff_icon#size=96*/
            @include common-sprite(logo, $dimensions: true);
        }
    }
    .text {
        font-size: 21px;
        font-weight: 200;
    }

    .buttons {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

.read-docs {
    font-size: 18px;
}

#forkme_banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 138px;
    height: 138px;
    display: block;
    @include common-sprite(fork);
    text-indent: -9000px;
    z-index: 3;
}

footer {
    margin-top: 30px;
    @include background-image(linear-gradient(top, #eee 0%,#ccc 100%));
    @include box-shadow(0 -1px 0 0 rgba(0, 0, 0, 0.25));
    line-height: 60px;
    text-align: center;
    p {
        margin: 0;
    }
}
