.upaas-instance-panel {
  padding: 0;
}
.upaas-instance-queue-progressbar {
  margin: 0;
  height: 2px;
  border-radius: 0;
}
.upaas-instance-table {
  width: 100%;
  font-size: 85%;
  margin-bottom: 0;
}
.upaas-instance-table tr.idle {
  background-color: #dff0d8;
}
.upaas-instance-table tr.busy {
  background-color: #f2dede;
}
.upaas-instance-table tr.summary {
  font-weight: bold;
}
