/********************/
/* The small guys   */
/********************/
.cluster_widget_wrapper{
	width:200px;
	height:200px;
    margin-top:5px;
    margin-bottom:10px;
}

.cluster_widget_label{
    position:absolute;
	top:200px;
	width:200px;
	height:50px;
	font-size:70%;
}

.cluster_widget_plot{
    position:absolute;
	width:500px;
	height:250px;
	font-size:70%;
	left:25px;
}

/********************/
/*  The big guy     */
/********************/
.main_cluster_widget{
	position:relative;
	width:250px;
	height:250px;
	left:25px;
}

.main_cluster_plot{
	position:relative;
	width:inherit;
	height:250px;
}

.transfer-effect {
   border: 1px dotted black;
   -webkit-border-radius: 175px;
   -moz-border-radius: 175px;
   border-radius: 175px;
}

/********************/
/*  The context menu*/
/********************/
.ui-menu 
{ 
	width: 175px;
}

a.ui-corner-all
{
	font-size:80%;
}