[group fnalgroup]
packages = fnalcore, fnalart


[package fnalcore]
version = {fnalcore_version}
environment = group:buildtools, group:compiler 
features = vcs, cmake, makemake
depends = unpack:cmake_install,build:boost
source_url = git://github.com/LBNE/FNALCore
# branch: subtree-migration
# vcs_tag = 635c4569fe2e898b910f921e24a1ac84c94244b1
# branch: master
vcs_tag = 70a97fa46e23de6a11612f386a59db8605abeb50
vcs_flavor = git
unpacked_target = README.md
prepare_cmd_options = -DBOOST_ROOT={boost_install_dir} -DCMAKE_C_COMPILER={gcc_install_dir}/bin/gcc -DCMAKE_CXX_COMPILER:STRING={gcc_install_dir}/bin/g++ -DCMAKE_INSTALL_LIBDIR=lib64
build_target = FNALCore/libFNALCore.so.1.0.0
install_target = lib64/libFNALCore.so.1.0.0
buildenv_CMAKE_PREFIX_PATH = prepend:{install_dir}

[package fnalart]
version = {fnalart_version}
environment = group:buildtools, group:compiler
depends = prepare:install_fnalcore, prepare:fnalcore_install
features = vcs, cmake, makemake
source_url = git://github.com/LBNE/fnal-art
# branch remove-ups
vcs_tag = 233e98337334411b4e006572c686c5013c3e5514
vcs_flavor = git
unpacked_target = README.md
prepare_cmd_options = -DCMAKE_C_COMPILER={gcc_install_dir}/bin/gcc -DCMAKE_CXX_COMPILER:STRING={gcc_install_dir}/bin/g++ -DCMAKE_INSTALL_LIBDIR=lib64
build_target = art/Version/libart_Version.so.1.0.0
install_target = lib64/libart_Version.so.1.0.0
buildenv_CMAKE_PREFIX_PATH = prepend:{clhep_install_dir}:{root_install_dir}:{tbb_install_dir}:{boost_install_dir}:{fnalcore_install_dir}

