[Network]
; port: 7050

[Spline]
public-access: on ; Allow anyone to connect and utilize the public API
; partner.0: %(partners-dir)s/registry.ptr
; partner.4: %(partners-dir)s/westmetal.ptr
partner.2: %(partners-dir)s/web-facing.ptr
; partner.1: %(partners-dir)s/projects-repos.ptr
; partner.3: %(partners-dir)s/skype-terminal.ptr
partner.5: %(partners-dir)s/stuphmud.ptr

[Common]
partners-dir: %(config-dir)s/partners
