/*
 * Style for OpenSlides Topic Voting Plugin
 */

/** Navigation icons **/

.icon-podium {
    background-image: url("../img/glyphicons_328_podium.png");
    background-position: 0;
}
.leftmenu ul li.active a span.ico i.icon-podium {
    background-image: url("../img/glyphicons_328_podium_white.png");
}
