.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    -sprite-selector: default;
}
.accept {
    background: url(accept.png) no-repeat;
}
.world {
    background: url(world.png) no-repeat;
}
