/* APPLICATION HACK 
###############################################################################
# Copyright 2013 Grigoriy Kramarenko.
###############################################################################
# This file is part of BWP.
#
#    BWP is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    BWP is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with BWP.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть BWP.
#
#   BWP - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   BWP распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################
*/

/* BOOTSTRAP ALTER */
/* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    html, body {
      color: #5a5a5a;
      height: 100%;
    }

    /* Wrapper for page content to push down footer */
    #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -40px;
    }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 40px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      @media (min-width: 768px) {
        .modal {
          width: 768px;
          margin-left: -384px;
        }
      }

      @media (min-width: 800px) {
        .modal {
          width: 800px;
          margin-left: -400px;
        }
      }

      @media (min-width: 900px) {
        .modal {
          width: 900px;
          margin-left: -450px;
        }
      }

      @media (min-width: 1000px) {
        .modal {
          width: 1000px;
          margin-left: -500px;
        }
      }

      @media (min-width: 1200px) {
        .modal {
          width: 1200px;
          margin-left: -600px;
        }
      }

    /* TABLES */
    .table-hover tbody tr:hover td,
    .table-hover tbody tr:hover th {
      background-color: #EDEDED;
    }
/* END ALTER BOOTSTRAP */

#alert-place {
    position: absolute;
    left: 50%; top: 50%;
    height: 100px; margin-top: -50px;
    width: 600px; margin-left: -300px;
    z-index: -1000;
}

.tab-content {
/*
    min-height: 250px;
*/
    overflow: visible;
}

.tab-content .subnav, .modal-body .subnav {
    margin-bottom: 5px;
}

input[type="search"] {
   height: 12px;
}

.tab-pane .btn-toolbar, .modal-body .btn-toolbar {
    margin-top: 0px;
    margin-bottom: 0px;
}
.tab-pane .subtabs {
    margin-bottom: 3px;
}
.tab-pane legend {
    padding-top: 5px;
}

body.login {
    background: #eee;
}
body.login container {
    min-height: 300px;
}

body.login #login {
    background: white;
    border: 1px solid #ccc;
    width: 28em;
    padding: 40px 20px 20px;
    margin: auto;
}

.max-height-small {
    max-height: 200px;
    overflow-y: auto;
}

.max-height-medium {
    max-height: 400px;
    overflow-y: auto;
}

.max-height-large {
    max-height: 600px;
    overflow-y: auto;
}

hr.soften {
    margin: 1px 0;
}

.subnav fieldset {
    padding: 4px;
}

.color-primary {
    color: #0074CC;
}

.color-info {
    color: #49AFCD;
}

.color-success {
    color: #5BB75B;
}

.color-warning {
    color: #FAA732;
}

.color-danger {
    color: #DA4F49;
}

.color-inverse {
    color: #414141;
}

.color-older {
    color: #7F7F7F;
}
.align-center, table th.align-center, table td.align-center { text-align: center;}
.align-right, table th.align-right, table td.align-right { text-align: right; }
.align-left, table th.align-left, table td.align-left { text-align: left; }
table th.align-center, table td.align-center, table th.align-right, 
table td.align-right, table th.align-left, table td.align-left { vertical-align: middle; }

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
    
    #summa {
        padding-left: 40px;
    }
}

a.normalwrap {
    white-space: normal;
}

input.noborder {
    border: 0;
}

.dropdown-menu li.active > a {
    color: #FFFFFF;
}

.dropdown-menu li.active > a:hover {
    color: #FFF;
}

.mono {
    font-family: 'courier new', courier;
}

body.login {
    margin-top: 100px;
}

/* As input-mini */
input.input-micro {
    width: 60px;
}

th.input-micro, td.input-micro {
    width: 1em;
}

select, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"],
input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"],
.uneditable-input {
    margin-bottom: 0;
}

input, textarea, .uneditable-input {
    width: 98%;
}

.input-append, .input-prepend {
    margin-bottom: 0;
}

div.dataTables_length label {
/*
    width: 460px;
*/
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_processing {
    text-align: center;
}

div.dataTables_filter label {
    float: right;
/*
    width: 460px;
*/
}

div.dataTables_filter label input {
    margin: 0;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table {
    margin: 5px 0;
    clear: both;
}

table.dataTable th:active {
    outline: none;
}

table .header {
    cursor: pointer;
}

.table thead th {
    vertical-align: middle;
    white-space: nowrap;
}

table .header:after {
    border-color: #000000 transparent;
    border-style: solid;
    border-width: 0 4px 4px;
    content: "";
    float: right;
    margin-top: 7px;
    visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
    background-color: rgba(141, 192, 219, 0.25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    
}
table .header:hover:after {
    visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
    opacity: 0.6;
    visibility: visible;
}
table .headerSortUp:after {
    border-color: #000000 transparent -moz-use-text-color;
    border-style: solid solid none;
    border-width: 4px 4px medium;
    box-shadow: none;
    opacity: 0.6;
    visibility: visible;
}

#main-tab {
    margin-bottom: 5px;
} 

#quickapi-docs code {
    display: block;
    white-space: pre-wrap;
}

/*
 * Sorting
 */
th.sorted {
    cursor: pointer;
    background: url('./img/tables/sort_both.png') no-repeat center right;
}

th.sorted-asc {
    background: url('./img/tables/sort_asc.png') no-repeat center right;
}

th.sorted-desc {
    background: url('./img/tables/sort_desc.png') no-repeat center right;
}

th.sorted-n0 {
    background-color: #FFE6E6;
}

th.sorted-n1 {
    background-color: #FFF9E6;
}

th.sorted-n2 {
    background-color: #F3FFE6;
}

th.sorted-n3 {
    background-color: #E6FFED;
}

th.sorted-n4 {
    background-color: #E6FFFF;
}
