[buildout]
extends = https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
package-name = collective.jazzport
parts += sphinx
package-extras = [test]
test-eggs =
versions = versions

[test]
recipe = collective.xmltestreport
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress', '--xml']

[versions]
distribute =
setuptools =
zc.buildout =

selenium =
robotsuite =
robotframework =
robotframework-selenium2library =

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml

[sphinx]
recipe = zc.recipe.egg
eggs = Sphinx
