[buildout]
newest=false
parts = pyrtm test

develop = .

[pyrtm]
recipe = zc.recipe.egg
eggs = pyrtm
interpreter = py

[test]
recipe = pbp.recipe.noserunner
eggs = pyrtm[test]
defaults =
    --verbosity=3
    --with-doctest
