/**
 * Style for accodtion navigation portlet
 */

/*
dl.portletNavigationAccordion ul.navTree li a {
	display: inline;
}
*/

.unipdAccordionCommand {
	float: right;
	width: 16px;
}

.unipdAccordionCollapsed {
	display: none;
}
