/**
 * Place's photos page.
 */

.place-photos {
    margin: 30px auto 30px auto;
    width: 970px;
    overflow: auto;
}

/* Details */
.place-photos .details .name {
    padding: 20px 20px 20px 20px;
}
.place-photos .details .name .picture {
    width: 90px;
    float: left;
}
.place-photos .details .name .picture img {
	width: 88px;
	height: 88px;
}
.place-photos .details .name .address {
    float: left;
    margin-left: 20px;
}
.place-photos .details .name .address h1 {
    margin: 0px;
}
.place-photos .details .name .address p {
    margin: 5px 0 0px;
}
.place-photos .details .name .address .rating {
	margin-top: 3px;
}
.place-photos .details .name .meta {
	float: right;
	height: 88px;
	width: 222px;
	text-align: right;
	padding-top: 3px;
	color: #bbb;
}
.place-photos .details .name .meta h2 {
	margin: 0 0 5px 0;
}
.place-photos .details .gallery {
	border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px 20px 9px 9px;
    font-size: 10pt;
}
.place-photos .details .gallery .item {
    float: left;
    margin: 0 0 13px 13px;
    position: relative;
}
.place-photos .details .gallery .item a {
    text-decoration: none;
}
.place-photos .details .gallery .photo {
    width: 300px;
    height: 300px;
}
.place-photos .details .gallery .user-info {
    display: none;
    text-align: left;
    position: absolute;
    top: 230px;
    left: 5px;
    width: 290px;
    height: 65px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}
.place-photos .details .gallery .item:hover > .user-info {
    display: inline;
}
.place-photos .details .gallery .item .user-info .avatar {
    float: left;
}
.place-photos .details .gallery .item .user-info .avatar img {
    width: 48px;
    height: 48px;
    margin: 9px 0 0 8px;
}
.place-photos .details .gallery .item .user-info .info {
    float: left;
    height: 52px;
    margin: 7px 0 0 10px;
}
.place-photos .details .gallery .item .user-info .info p {
    font-size: 8pt;
    margin-bottom: 2px;
}
.place-photos .details .gallery .item .user-info .info p span {
    color: #ccc
}