/* ps.plone.mls styles.
   ====================
*/

#content .listing-collection-tile .collection-item {
    margin-bottom: 1.5em;
}

#content .listing-collection-tile .item-heading {
    float: left;
    width: 33%;
}

#content .listing-collection-tile .item-heading:after {
    content: ":";
}

#content .listing-collection-tile .item-body {
    margin-bottom: 0;
}

.listing-collection-tile figure {
    border: 1px solid #eee;
    margin: 0.5em 0;
    padding: 5px;
}

.listing-collection-tile figure img {
    max-width: 100%;
    width: 100%;
}

.listing-collection-tile figure figcaption {
    display: none;
}


/* Fix for collective.cover < 1.0b9.
   =================================
*/
.template-layoutedit .modal {
    max-height: 80%;
    overflow: scroll;
}
