
.datagrid div.footer p {
    float: left;
}

.datagrid div.footer ul.paging{
    float: right;
}

.datagrid div.footer ul.paging li {
    display: inline;
    margin-left: 10px;
}

.datagrid div.footer ul.paging li.dead {
    color: #999;
}
