/*************************************************************************
 *  Imports of compass mixins
 *************************************************************************/
@import "compass/css3";


/*************************************************************************
 *  Import of my mixins
 *************************************************************************/
@import "ginsgrid";


/*********************************************************
 *  Include ginsgrid mixin classes
 *********************************************************/
@include def-grid-container-class($width:100);
@include def-grid-content-class();

/*********************************************************
 *
 *********************************************************/
* {
    @include box-sizing(border-box);
}

@font-face {
    font-family: Alex Brush;
    font-style: normal;
    font-weight: normal;
    src: url('/static/font/AlexBrush-Regular.ttf') format("truetype");
}


/*********************************************************
 *  Variables
 *********************************************************/
$black: #000000;


/*********************************************************
 *
 *********************************************************/
body {
    font-family: Alex Brush;
    border-color: $black;
    background-color: #B5B9A3;
    color:
        darken($black, 9%);
}

#global-grid-container {
}
