[buildout]
develop = .
parts = test checker coverage-test coverage-report


[test]
recipe = zc.recipe.testrunner
eggs = p01.recipe.setup [test]
       p01.recipe.setup [supervisor]
       p01.recipe.setup [paste]
       p01.recipe.setup [i18n]


[checker]
recipe = p01.recipe.setup:importchecker
path = src/p01/recipe/setup


[coverage-test]
recipe = zc.recipe.testrunner
eggs = p01.recipe.setup [test]
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
