.portaltype-portlet-page {

  #content {
    margin: 0;
  }

  #searchform {
    .mobile-form();
  }

  #visual-portal-wrapper {
    background-color: #fff;
  }

  .portletWrapper {
    border-top: 1px solid #dcdfe3;
  }

  .container .portlet {
    .clearfix;

    background-color: #fff;
    text-align: center;
    padding: 50px 0;

    .portletItem {
      color: black;
      font-size: 16px;
      line-height: 2;
    }

    .portletHeader {
      margin-bottom: 30px;

      text-align: center;
      font-weight: 300;
      font-size: 28px;
      padding: 0;
      background: none;
      color: @headings-color;
      a, a:visited, a:active {
        color: @headings-color !important;
        font-weight: 300;
        .collection_description {
         color: #B6BCC2;
         font-size: 20px;
        }
      }
      span.collection_description {
        color: #B6BCC2;
        font-size: 20px;
      }
    }
  }


  .extendedCollectionPortlet {

    background-color: @body-bg;
    .portlet {
      background-color: @body-bg;
      text-align: left;
    }

    .portletItem {
      padding: 0;
      .make-sm-column(6);
      .make-md-column(4);
      margin-bottom: 30px;

      > a {
        text-decoration: none;
        display: block;
        .box();
        background-color: #fff;

        .gov_box();

        color: @headings-color;
        &:hover {
          color: @headings-color !important; // overruling....
        }

        .description {
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

  }


  .portletStaticText .btn {

    border: 0;
    color: #fff !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin: 0 8px 10px;

    .colors-btn();
  }



 .navWrapper {
   width: 100%;
 }
 
 .herounit {

   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   color: #fff;

   > div {
     .gradient(bottom, fade(#0377af, 82%), fade(#67adb6, 90%));
     .clearfix();
   }

   .portletHeader {
     display: none;
   }
   .extendedCollectionPortlet {
     background-color: transparent;
   }

   .title {
     font-size: 34px;
     font-weight: 700;
     margin: 10px 0 0px;
     text-shadow: 1px 1px 3px rgba(0,0,0,0.26);
     .make-sm-column(9);
     .make-md-column(7);
   }

   .desc {
     font-size: 18px;
     line-height: 2;
     font-weight: 600;
     margin: 40px 0 40px;
     .make-md-column(9);
   }

   .cta {
     padding-left: 15px; // match cols
     clear: both;

     .btn {
       border: 2px solid #fff;
       border-radius: 20px;
       .dateline;
       font-size: 12px;
       color: #fff;
       .fa {
         display: none;
       }

       &:hover {
         background-color: #fff;
         color: @text-color;
         text-decoration: none;
         .fa {
           display: inline;
         }
       }
     }
     margin-bottom: 100px;
   }

   
   @media all and (max-width:@screen-sm-max) {
     .title {
       font-size: 26px;
       margin-top: 40px;
       margin-bottom: 30px;
     }
     .desc {
       display: none;
     }
     .cta {
       margin-bottom: 80px;
     }
   }

   @media all and (max-width:@screen-sm-max) {
     .title {
       margin-top: 10px;
     }
     .cta {
       margin-bottom: 70px;
     }
   }

 }
 .portletMailChimp {
    padding: 30px 0 15px 0 !important;
    .portletHeader {
      margin-bottom: 0px !important;
    }
    #searchform {
      margin-bottom: 0px;
    }
 }

}

.no-cssgradients .herounit>div
{
  background-color: rgba(3, 119, 175, 0.82);
}

.no-rgba .herounit>div, .no-rgba .navWrapper
{
  background-color: #0377af;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=82)";
}

img {
  max-width: 100%;
}

.section-homepage {
   .navWrapper {
   float: left;
   width: 100%;
   .navbar {
     background-color: transparent;
     border: 0;
     .gradient(top, rgba(0,0,0,0.7), transparent, 100px);
     min-height: 100px;   }
 }
}
