.create-bundle {
    margin-top: 21px;

    .editor-note {
        margin-top: 30px;
    }

    .CodeMirror {
        border-radius: 3px;
    }

    .create-bundle-button {
        margin-top: -6px;
        color: #fff;
        @include transition(background-color 200ms linear);
    }

    .first-row {
        margin-bottom: 20px;
    }

    #duplicate-name, #no-repo, #no-config {
        display: none;
    }

    .repository {
        height: 240px;
        margin-bottom: 15px;
    }
}
