ul.typeahead li {
  font-size: 20px;
  line-height: 1.48;
}

.typeahead.dropdown-menu li {
  font: 15px/1.5 "Helvetica Neue", "Arial Narrow", Arial, sans-serif;
}

table#status-table {
  width: 100%;
  table-layout: fixed
}

#status-table tr td {
  font: 15px/1.5 "Helvetica Neue", "Arial Narrow", Arial, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
