/* -*- coding: utf-8 -*-
 * :Progetto:  SoL
 * :Creato:    sab 13 dic 2008 16:43:25 CET
 * :Autore:    Lele Gaifax <lele@metapensiero.it>
 * :Licenza:   GNU General Public License version 3 or later
 */

.centered, .mainmenu, table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align: center;
}
.rank-header, .player-header, .event-header, .total-header,
.competitor1-header, .competitor2-header, .competitors-header,
.score1-header, .score2-header, .scores-header, .tourney-header,
.date-header, .championship-header, .tourneys-header, .average-header {
    font: italic 9px arial,tahoma,helvetica,sans-serif;
}
.player, .competitor1, .competitor2, .score1, .score2, .tourney, .date,
.championship, .tourneys, .average {
    padding: 0.2em;
}
.rank, .event, .skipped-event, .total, .tourneys, .average {
    text-align: right;
    align: right;
    padding: 0.2em;
}
.skipped-event {
    text-decoration: line-through;
    color: lightgray;
}
.score1 {
    text-align: right;
    width: 3em;
}
.score2 {
    text-align: left;
    width: 3em;
}
.competitor1 {
    text-align: right;
}
.competitor2 {
    text-align: left;
}
.sortedby {
    font-weight: bold;
}
.phantom {
    text-align: left;
    color: green;
}
.winner, .winner a:link, .winner a:visited {
    color: red;
}
.logo {
    border: 0;
}
#emblem {
    border: 0;
    max-width: 120px;
    max-height: 120px;
}
.portrait {
    display: block;
    border: 0;
    max-width: 250px;
    max-height: 250px;
}
.odd-row {
    background-color: yellow;
}
.even-row {
    background-color: lime;
}
.footer {
    font: normal 9px arial,tahoma,helvetica,sans-serif;
}
#producer {
    float: left;
}
#generated {
    float: right;
}
#sol_logo {
    position: absolute;
    left: 5px;
    top: 5px;
}
#club_emblem {
    position: absolute;
    right: 5px;
    top: 5px;
}
dl {
    padding: 0.5em;
}
dt {
    float: left;
    clear: left;
    width: 50%;
    text-align: right;
    font-weight: bold;
    color: green;
}
dt:after {
    content: ":";
}
dd {
    margin: 0 0 0 51%;
    padding: 0 0 0.5em 0;
}
.mainmenu ul {
    font: bold 13px arial;
    margin-left: 50px;
    height: 20px;
}
.mainmenu ul li {
    list-style: none;
    display: inline;
}
.mainmenu ul li span {
    padding: 4px 0.5em;
    float: left;
    color: black;
    background-color: #e1e1e1;
}
.mainmenu ul li a {
    padding: 2px 0.5em;
    text-decoration: none;
    float: left;
    color: black;
    background-color: #e1e1e1;
    border: 2px solid #e1e1e1;
}
.mainmenu ul li a:hover {
    background-color: #e5e5e5;
    border-style: outset;
}
html>body .mainmenu ul li a:active { /* Apply mousedown effect only to NON IE browsers */
    border-style: inset;
}
.club {
    float: left;
    padding: 1em;
}
.club img.emblem {
    display: block;
    height: 160px;
}
.club span.spacer {
    display: block;
    height: 160px;
}
.clear {
    clear: both;
}
h5, ol {
    margin-top: 5px;
    margin-bottom: 1px;
}
