[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg

versions = versions
parts += updater

[test]
defaults = ['-s', 'uncsom.recipe.ploneupdater', '--auto-color', '--auto-progress']
eggs += uncsom.recipe.ploneupdater

[updater]
recipe = uncsom.recipe.ploneupdater
admin-user = admin
