#edit-bar, .formTabs{
	display: none;
}
.userrole-manager #edit-bar,
.userrole-manager .formTabs{
	display: block;
}
.portaltype-observation .documentFirstHeading,
.portaltype-question .documentFirstHeading{
	display:none;
}
.esdDiv {
	overflow: hidden;
	margin-top: 4px;
	background-color: #FAEFE1;
	padding: 8px;
}
.esdLabel{
	font-style: italic;
	font-weight: normal;
	color: #918C86;
}
.esdDiv .value{
	color: #00446a;
	font-size: 1.5em;
}
#qa .questionTitle{
	color: #00446a;
	font-size: 1.5em;	
}
.eea-tabs {
	margin-top: 10px !important;
}
#visual-portal-wrapper ul.eea-tabs a{
	height: 100% !important;
	max-width: 100% !important;
}

.template-esdrt-content-observation .datagridwidget-cell .int-field {
	width: 8em;
}
.estTable {
	max-width: 100%;
	width: 100%;
	overflow: auto;
	/**border-width: 0px 0px 0px 1px;
	border-style: dotted;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;*/
	border: 1px solid #b6b6b6;
	color: #666666;
	line-height: normal;
}
.estTable th{
	cursor: auto !important;
	text-align: center;
	background-color: #005e7d;
	color: #fff;
	padding: 4px;
	width: 9%;
}
.estTable th:first-child{
	width: 37%;
	text-align: left;
}
.estTable td{
	padding: 4px;
}
.estTable tbody tr:nth-child(odd) {
	background: #eee;
}
.estTable tbody tr:nth-child(even) {
	background: #fff;
}
.standardButton{
	color:#fff !important;
	background:#346F83;
	background-image: -webkit-gradient(linear,0% 40%,0% 70%,from(#478EA5),to(#346F83));
	background: -webkit-linear-gradient(#478EA5, #346F83); /* */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#478EA5', endColorstr='#346F83'); /* */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#478EA5', endColorstr='#346F83')"; /* */
	background-image: -moz-linear-gradient(270deg, #478EA5, #346F83);
	background-image: -ms-linear-gradient(top,#478EA5,#346F83);
	background-image: -o-linear-gradient(top,#478EA5,#346F83);
	background-image: linear-gradient(top,#478EA5,#346F83);
	font: bold 12px Verdana, Arial, sans-serif;
	padding: 7px 11px;
	position: relative;
	display: inline-block;
	text-shadow: 0 1px 1px #000;
	-webkit-transition: border-color .218s;
	-moz-transition: border .218s;
	-ms-transition: border-color .218s;
	-o-transition: border-color .218s;
	transition: border-color .218s;
	-webkit-transition: box-shadow .218s;
	-moz-transition: box-shadow .218s;
	-ms-transition: box-shadow .218s;
	-o-transition: box-shadow .218s;
	transition: box-shadow .218s;
	border: 1px solid #346F83;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.standardButton:hover,
#content a.standardButton:hover{
	background-color:#f6a800;
	background-image: -webkit-gradient(linear,0% 40%,0% 70%,from(orange),to(#FF9123));
	background: -webkit-linear-gradient(orange, #FF9123); /* */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='orange', endColorstr='#FF9123'); /* */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='orange', endColorstr='#FF9123')"; /* */
	background-image: -moz-linear-gradient(270deg, orange, #FF9123);
	background-image: -ms-linear-gradient(top,orange,#FF9123);
	background-image: -o-linear-gradient(top,orange,#FF9123);
	background-image: linear-gradient(top,orange,#FF9123);
	color: #FFFFFF !important;
	cursor:pointer;
	border-color: #999999;
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	text-shadow: none;
}
.standardButton a, .standardButton a:hover, .standardButton a:visited {
	color: #FFFFFF !important;
}
.backButton .eea-icon:before{
  content: "\f053";
}
.actions{
	text-align: right;
	margin-top: 10px;
}
#qa{
	margin-top: 10px;
}
.question {
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid lightgray;
	position: relative;
	margin-top: 5px;
	font-size: 13px !important;
}
.question.comment{
	margin-right:10px;
}
.question.commentanswer{
	margin-left:10px	
}
.question div{
	padding: 5px;
}
.question .from{
	border-bottom: 1px solid lightgray;
}
.question .messageDate{
	float: right;
}
.arrow-left-border{
	border-color: transparent lightgray transparent transparent;
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	top: 33px;
	left: -21px;
	position: absolute;
	padding: 0px !important;
}
.arrow-left{
	border-color: transparent white transparent transparent;
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	top: 33px;
	left: -20px;
	position: absolute;
	padding: 0px !important;
}
.arrow-right-border{
	border-color: transparent transparent transparent lightgray;
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	top: 33px;
	right: -21px;
	position: absolute;
	padding: 0px !important;
}
.arrow-right{
	border-color: transparent transparent transparent white;
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	top: 33px;
	right: -20px;
	position: absolute;
	padding: 0px !important;
}
.observationList {
	width: 100%;
}
.observationList th{
	cursor: pointer;
	background-color: #005e7d;
	color: #fff;
	border: 0.1em solid #e7e7e7;
	border-style: solid solid none;
	padding: 4px;
}
.observationList th:after{
	content: ' ';
}
.observationList th.asc:after{
	content: '▼';
}
.observationList th.desc:after{
	content: '▲';
}
.observationList tbody tr:nth-child(even){
	border-bottom: 2px solid gray;
}
.observationList tbody tr.hover{	
	background-color: #EEEEEE;
	cursor: pointer;
}
.observationList td{
	padding: 4px;
}

.observationRefCell{
	color: #427597;
	font-weight: bold;
	font-size: 14px;
}
.statusCell {
	vertical-align: middle !important;
	text-align: center;
}
.statusCell span{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px 14px;
}
.statusCell span.draft{
	background-color: #CDF4FE;
	color: #028CA9;
}
.statusCell span.open{
	background-color: #CB7801;
	color: white;
}
.statusCell span.reporting{
	background-color: #5cb85c;
	color: white;
}
.statusCell span.closed{
	background-color: #DADADA;
	color: #999999;
}
.countryCell{
	vertical-align: middle !important;
	text-align: center;
}
.sectorCell{
	vertical-align: middle !important;
	text-align: center;	
}
.gasCell{
	vertical-align: middle !important;
	text-align: center;
	font-weight: bold;
}
.yearCell{
	text-align: center;
}
.wfRole:before{
	content: "\f007";
}
.wfStep:before{
	content: "\f044";
}
.clickableRow{
	cursor: pointer !important;
}
.wfPoint:before{
	content: "\f111";
}
.wfPoint2:before{
	content: "\f10c";
}
.wfTime:before{
	content: "\f017";
}
#workflowTable td{
	min-width: 195px;
	color: gray;
	position: relative;
	vertical-align: top;
}
#workflowTable tr td:last-child {
	color: black;
}
#workflowTable tr td .border{
	border-top: 1px solid gray;
	width: 100%;
	position: absolute;
	top: 9px;
	left: 10px;
}
#workflowTable tr td:last-child .border{
	border: none;
}
.attachment:before{
	content: "\f0c6";
}
.confidential:before {
	content: "\f023";
}