#FooterPortletManager form {
  .form-dark();
}

.form-dark {

  input.form-control {
    background-color: @gray-input-bg;
    border: 0;
//    border-radius: 2px 0 0 2px;
    color: #fff;
    font-size: 14px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2) inset;

  }

  ::-webkit-input-placeholder {
    color: @gray-footer-color;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: @gray-footer-color;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: @gray-footer-color;
  }

  :-ms-input-placeholder {
    color: @gray-footer-color;
  }

  .mobile-form();

}

.mobile-form() {
  button {
//    border-radius: 0 2px 2px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    height: 45px;
    color: #e9eef1;
    .fa {
      display: none;
    }
    @media all and (max-width:@screen-xs-max) {
      .title {
        display:none;
      }
      .fa {
        display: block;
      }
    }
  }

}


.template-fg_base_view_p3 #portal-column-content > div.documentEditable,
.template-fg_base_view_p3 #portal-column-content > div[class=""] {

  .box();
  .box-padding();
  padding: 40px;
  margin-top: 15px;
  margin-bottom: 30px;
  background-color: #fff;

  h3 {
    font-size: 17px;
    font-weight: 700;
    margin: 30px 0 40px;
  }

  form {

  }

  #pfg-fieldwrapper {

    input, textarea {
      .form-control();
      .input-lg();
      background-color: @body-bg;
    }

    input {

      @media all and (min-width:@screen-sm) {
        width: 65%;
      }
    }

    textarea {
      height: 260px;
    }

    .required:after {
      content: "*";
      color: @gray-footer-color;
    }

    .field.error {
      background-color: transparent;
      border: 0;
      margin: 0 0 1em;
      padding: 0;
      font-size: inherit;

      label, .required:after {
        color: @brand-warning;
      }

      input, textarea {
        background-color: #fdefef;
        border-color: @brand-warning;
        &:focus {
          border-color: @brand-warning;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px fade(@brand-warning, 60%);
        }
      }
    }

  }


  .formControls {

    margin-left: 0;

    input {
      .btn();
      .btn-primary();
      padding: 14px 36px;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

}
