
#portal-logo {
  display: inline-block;
  
  img {
    width: 209px;
    
    @media all and (max-width: @screen-sm-max ) {
      margin-left: 22px;
      width: 184px;
    }
  }
  
}

.navbar-collapse.collapse {
  padding-top: 42px;
} 

.portaltype-portlet-page .navbar-default {
  .navbar-form, .navbar-collapse.in {
    border: 0;
    box-shadow: none;
    padding-top: 0;
  }
}

.navbar .navbar-nav > li > a {

  font-size: 13px;
  text-transform: uppercase;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  letter-spacing: 1px;

}

.navbar-form {

  @media all and (max-width: @screen-sm-max) {
    .navbar-default & {
      border-top: 0;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset, 0 1px 0 rgba(255, 255, 255, 0.1); //hack top top transparent
      padding-top: 0;
    }
  }

  button {
    
    color: @navbar-default-link-color;
    margin-top: 4px;
    
    &:hover {
      color: @navbar-default-link-hover-color;
    }
    
  }
  
  input, .form-control:first-child {
  
    background: none;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    
  }
  
  ::-webkit-input-placeholder {
     color: #fff;
  }
  
  :-moz-placeholder { /* Firefox 18- */
     color: #fff;  
  }
  
  ::-moz-placeholder {  /* Firefox 19+ */
     color: #fff;  
  }
  
  :-ms-input-placeholder {  
     color: #fff;  
  }

}


.navbar-toggle {
  
  margin-top: 32px;
  margin-right: 11px;
  
  .icon-bar {
    height: 4px;
    width: 30px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  }
}
