#map {
	width: 100%;
	height: 500px;
	margin-top: 15px;
    text-align: center;
    padding-top: 161px;
    background-color: #fff;
	border: 1px solid #ccc;
}
.map-container .overlay {
    display: none;
    position: absolute;
    top: 80px;
    left: 100px;
    z-index: 1;
    width: 350px;
    height: 440px;
}
.map-container .overlay .background {
    width: 350px;
    height: 440px;
    background-color: #fff;
    opacity: 0.8;
}
.map-container .overlay .content {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 350px;
    height: 440px;
    padding: 20px;
}
.map-container .overlay .content .loading {
    text-align: center;
    margin-top: 90px;
}
.map-container .overlay .content .results {
    display: none;
    overflow-y: scroll;
    height: 330px;
}
.map-container .overlay .content .results table tbody tr {
    cursor: pointer;
}
.map-container .overlay .content .no-results {
    display: none;
    text-align: center;
    padding-top: 100px;
}
.map-container .overlay .content .no-results p {
    font-size: 30pt;
    font-weight: bold;
}

/* Stuff */
.stuff {
    margin: 20px auto 30px auto;
    width: 970px;
    overflow: auto;    
}

/* Top Places */
.top-places {
    float: left;
    width: 500px;
    padding: 0 0 0 20px;
    margin-bottom: 25px;
}
.top-places ol {
    margin: 20px 0 0 110px;
}
.top-places ol li {
    font-size: 17pt;
    margin-top: 30px;
}
.top-places ol li:first-child {
    margin-top: 0;
}

/* Reviews */
.recent-activity {
    float: right;
    width: 400px;
    margin-bottom: 10px;
}
.recent-activity ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
}
.recent-activity li {
    padding: 10px 0 10px 0;
    border-top: 1px solid #eee;
}
.recent-activity .avatar {
    float: left;
}
.recent-activity .avatar img {
    width: 60px;
    height: 60px;
}
.recent-activity .comment {
    float: left;
    margin: 3px 0 0 15px;
    text-align: justify;
    font-size: 10pt;
}
.recent-activity .comment .message {
    margin-top: 10px;
}
.recent-activity .comment .message span {
    font-size: 8pt;
    color: #bbb;
}