/**
 * Place page.
 */

.microdata {
    display: none;
}

.place {
    margin: 30px auto 30px auto;
    width: 970px;
    overflow: auto;
}

/* ---> Left Container <--- */

.place .left-container {
    width: 636px;
    float: left;
}

/* Details */
.place .left-container .details .name {
    padding: 20px 20px 20px 20px;
}
.place .left-container .details .name .picture {
    text-align: center;
    width: 90px;
    float: left;
}
.place .left-container .details .name .address {
    width: 484px;
    float: left;
    margin-left: 20px;
}
.place .left-container .details .name .address h1 {
    margin: 0px;
}
.place .left-container .details .name .address p {
    margin: 5px 0 0px;
    width: 480px;
}
.place .left-container .details .contacts {
	border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 20px 10px 20px;
    font-size: 10pt;
}
.place .left-container .details .contacts ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.place .left-container .details .contacts ul li {
    display: inline;
    margin-left: 15px;
}
.place .left-container .details .contacts ul li:first-child {
    margin-left: 0;
}
.place .left-container .details .rating {
    background-color: #f4f3f1; padding: 20px; text-align: center;
}

/* Photos */
.place .left-container .photos {
    margin-top: 15px;
    height: 152px;
}
.place .left-container .photos div {
    float: left;
    margin-left: 11px;
    width: 150px;
    height: 150px;
}
.place .left-container .photos div:first-child {
    margin-left: 0;
}
.place .left-container .photos div:last-child {
    text-align: center;
    padding-top: 31px;
}
.place .left-container .photos img {
    width: 150px;
    height: 150px;
}

/* Reviews */
.place .left-container .reviews {
    margin-top: 15px;
    padding: 20px;
}
.place .left-container .reviews .actions {
    text-align: center;
}
.place .left-container .reviews ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
}
.place .left-container .reviews li {
    padding: 15px 0 15px 0;
    border-top: 1px solid #eee;
}
.place .left-container .reviews li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.place .left-container .reviews .avatar {
    float: left;
}
.place .left-container .reviews .avatar img {
    width: 60px;
    height: 60px;
}
.place .left-container .reviews .comment {
    float: left;
    margin: 3px 0 0 15px;
    width: 519px;
    text-align: justify;
    font-size: 10pt;
}
.place .left-container .reviews .comment .message {
    /*color: #4d4d4d;*/
    margin-top: 5px;
}
.place .left-container .reviews .comment .message span {
    font-size: 8pt;
    color: #bbb;
}

/* ---> Right Container <--- */

.place .right-container {
    width: 303px;
    float: right;
}
.place .right-container #map {
    height: 250px;
    text-align: center;
    padding-top: 70px;
}