.search {
    margin: 30px auto 30px auto;
    width: 970px;
    overflow: auto;
}

/* ---> Left Container <--- */

.search .left-container {
    width: 478px;
    float: left;
    padding: 25px;
}
.search .left-container h1 {
    margin: 0;
}
.search .left-container .results {
    margin-top: 20px;
}
.search .left-container .results table {
    margin-bottom: 0;
}
.search .left-container .results table tbody tr {
    cursor: pointer;    
}
.search .left-container .results .pagination {
    float: right;
    margin-bottom: 0;
}
.search .left-container .results .pagination ul {
    margin-top: 0;
    margin-bottom: 0;
}
.search .left-container .results .pagination ul .current {
    margin: 0 5px 0 5px;
}
.search .left-container .no-results p {
    margin-top: 20px;
    margin-bottom: 0;
}

/* ---> Right Container <--- */

.search .right-container {
    width: 478px;
    float: right;
}
.search .right-container .fixer {
    width: 478px;
    position: fixed; 
}
.search .right-container .fixer #map {
    height: 565px;
    text-align: center;
    padding-top: 210px;
}