body {
	background-color: #eae8e4;
}

.clear {
    clear: both;
}

.footer {
  text-align: center;
  margin-bottom: 25px;
}

/**
 * Round border and shadow.
 */
.round-border-shadow {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #FFFFFF;
    -webkit-box-shadow: #cccccc 1px 1px 1px;
    -moz-box-shadow: #cccccc 1px 1px 1px;
    box-shadow: #cccccc 1px 1px 1px;
}

/**
 * Static star rating.
 */
.star-rating { 
    background: url(../images/star_blank.png) transparent 0 0 repeat-x;
    height: 48px;
    width: 240px;
}
.star-rating div { 
    background: url(../images/star.png) transparent 0 0 repeat-x; 
    height: 48px;
}
.star-rating-sm { 
    background: url(../images/star_blank_small.png) transparent 0 0 repeat-x;
    height: 16px;
    width: 80px;
}
.star-rating-sm div { 
    background: url(../images/star_small.png) transparent 0 0 repeat-x; 
    height: 16px;
}
.star-rating-dynamic {
    text-align: left;
    font-size: 41px;
    cursor: pointer;
}
.star-rating-dynamic {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.star-rating-dynamic > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.star-rating-dynamic > span:hover:before,
.star-rating-dynamic > span:hover ~ span:before,
.star-rating-dynamic-active:before {
   content: "\2605";
   position: absolute;
   color: rgb(255, 207, 27);
}